/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

/* -------------------- Normalization -------------------- */

button, input, optgroup, select, textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
}
input[type='checkbox'], input[type='radio'] { vertical-align: -2px; }

a { cursor: pointer; }

p { margin: 0; }
p + p { margin-top: 1em; }

/* -------------------- Miscellaneous -------------------- */

.disabled, .disabled * {
    pointer-events: none !important;
    user-select: none !important;
}
