/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

@import url('../../../../lib/web/flat/flat.css');
@import url('../../../../vendor/highlight.js/styles/base16/tomorrow.css');

html {
    --top_color: #2170b9;
    --anchor_color: #ff6600;
    --button_color: #2170b9;
}

@media screen and (min-width: 961px) {
    #logo { margin-right: 1em; }
}

#flag { margin-left: 1em; }

@media screen and (max-width: 960px) {
    #flag {
        position: absolute;
        right: 1em;
        top: 2em;
    }
}

.screenshot {
    max-width: 100%;
    padding: 10px calc(10px + 10%);
    display: flex;
    justify-content: center;
    gap: 10px;

    & > img {
        vertical-align: top;
        cursor: pointer;
        border: 10px solid #ebebeb;
        object-fit: contain;
    }
}
.screenshot.left { justify-content: start; }
.screenshot.right { justify-content: end; }
p + .screenshot { margin-top: 1em; }

@media screen and (max-width: 960px) {
    .screenshot {
        flex-wrap: wrap;
        padding: 10px calc(10px + 5%);

        & > img { border-width: 4px; }
    }
}

.mini {
    float: left;
    width: 250px;
    margin-right: 1em;
    padding: 10px;
    background: #ebebeb;

    & > img {
        width: 100%;
        cursor: pointer;
    }
    & > p {
        margin: 0.5em 0 0 0;
        font-size: 0.8em;
        font-style: italic;
        text-align: center;
    }
}
.mini.right {
    float: right;
    margin-left: 1em;
}

#veil {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    z-index: 999;

    & > img {
        position: absolute;
        max-width: 90%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
}
#veil.active { display: flex; }
