# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

location:
  local_path: /opt/borg/borg
  remote_path: /opt/borg/borg

  source_directories: {{ borg_directories | to_yaml }}

  repositories:
{% for host in ansible_play_hosts_all %}
{% if hostvars[host].borg_server is defined and hostvars[host].borg_server %}
    - 'borg@{{ hostvars[host].borg_public_addr }}:{{ borg_backup_path }}/{{ inventory_hostname }}'
{% endif %}
{% endfor %}

storage:
  encryption_passphrase: '{{ borg_passphrase }}'
  ssh_command: 'ssh -i /root/.ssh/borg -o StrictHostKeyChecking=no'

retention:
  keep_daily: 14
  keep_weekly: 2
  keep_monthly: 6

consistency:
  checks:
    - repository
    - archives
  check_last: 3
