/bin/
/build/felix/tmp/
/tmp/
/felix
/felix.exe
/.vs/
/*.sublime-*
/rygel.*

.Rproj.user
RcppExports.*
.Rhistory
.Rbuildignore
.vagrant
*.vault
FelixBuild.ini.user
*.log

node_modules
package-lock.json
