/bin/
/build/felix/tmp/
/tmp/
/felix
/felix.exe
/*.sublime-*
/rygel.*

.Rproj.user
RcppExports.*
.Rhistory
.Rbuildignore
.vagrant
*.vault
FelixBuild.ini.user
*.log
*.vcxproj.user
.vs/

__pycache__/
node_modules/
package-lock.json

/src/koffi/**/dist/
/web/**/dist/

/src/staks/dist/*

/src/drd/drdR/R/
/src/drd/drdR/src/
/src/drd/drdR_*

/src/tytools/libhs/bin/

/src/napka/data/*
!/src/napka/data/.gitkeep
/src/napka/tmp/*.js
/src/napka/tmp/*.css

/src/ludivine/web/dist/*

/tools/docker/goupile/goupile
/tools/qemu/machines/**

/vendor/spidermonkey/spidermonkey/
!/vendor/esbuild/native/node_modules/

!.gitkeep
