/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

@media print {
    #top { display: none; }
    #side { display: none; }
    #side ~ main { padding-right: 16px; }
    footer { display: none; }

    h1:not(:first-child) { break-before: page; }
}
