/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#ls_spec {
    font-size: 1.3em;
    text-align: center;
}

#ls_diagnoses .dtab td:nth-child(2) { text-align: center; }

@media screen and (min-width: 800px) {
    #ls_procedures .dtab td:first-child { min-width: 70%; }
    #ls_diagnoses .dtab td:first-child { min-width: 70%; }
}

@media screen and (max-width: 800px) {
    .ls_table .dtab td { box-sizing: border-box; }
    #ls_ghm_roots .dtab td:first-child, #ls_procedures .dtab td:first-child { min-width: 100vw; }
    #ls_diagnoses .dtab td:first-child { min-width: 85vw; }
    #ls_diagnoses .dtab td:nth-child(2) { min-width: 15vw; }
}
