/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.cm_summary .dtab td {
    min-width: 0;
    text-align: right;
}
.cm_summary .dtab th:first-child, .cm_summary .dtab td:first-child {
    min-width: 260px;
    max-width: 260px;
    text-align: left;
}

#cm_table tbody td { font-size: 0.9em; }

#cm_table .count {
    border-right: 0;
    min-width: 40px;
}
#cm_table .price { font-style: italic; }
#cm_table .total {
    background: var(--mco_total_bg);
    color: var(--mco_total_fg);
}
#cm_table .count.diff {
    min-width: 58px;
    padding-right: 19px;
}
#cm_table .count.diff:before {
    float: right;
    margin-right: -19px;
}
#cm_table .price.diff { min-width: 78px; }
#cm_table .price.diff:before { font-style: normal; }
#cm_table .empty { filter: opacity(50%); }
