/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Tree -------------------- */

.tr_tree {
    margin: 8px 8px 8px 22px;
    padding: 0;
    white-space: nowrap;
}

.tr_tree li {
    margin-left: -8px;
    padding-top: 1px;
    list-style-type: none;
}
.tr_tree .n {
    padding-left: 12px;
    font-size: 0.7em;
    color: #888;
    vertical-align: middle;
}
.tr_tree li.parent { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPUlEQVQYlWNgGIZgPQMDw38cuB5ZoQAORfehciggAYvCAFxOOI+kaD0+typAFb3HZiU66GdgYCggpAgnAAADhRho33RdVwAAAABJRU5ErkJggg==') no-repeat; }
.tr_tree li.parent > span > .n { cursor: pointer; }
.tr_tree li.collapse { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPUlEQVQYlWNgGFpgPgMDgwIxCv9DcQGxCv8zMDCcx2f6fyy4nxiF76HOEMCncD8hq88zMDAEEPALdmtgAAAziBiJaRyRUwAAAABJRU5ErkJggg==') no-repeat; }
.tr_tree li.leaf { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPElEQVQYlWNgGObAgIGBwYGQonoGBob/UHwen0n/0XABNoUKxCpkgFoHU/SegYFBAJ87E6AmKeBThBMAANf6EaFwwYgUAAAAAElFTkSuQmCC') no-repeat; }
.tr_tree .direct .n { padding-left: 0; }
.tr_tree .direct:before { content: ' → '; }

.tr_tree ul {
    margin-left: 4px;
    border-left: 1px solid #ddd;
}
.tr_tree li.collapse ul { display: none !important; }

.tr_tree a.ghm {
    display: inline-block;
    padding: 0 2px;
    background: #ff6600;
    color: white;
}
.tr_tree .desc {
    color: #888;
    font-size: 0.9em;
    font-style: italic;
}

@media screen and (min-width: 801px) {
    .tr_tree ul { padding-left: 30px; }
}

@media screen and (max-width: 800px) {
    .tr_tree ul { padding-left: 25px; }
    .tr_tree { font-size: 0.9em; }
}
