/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Prices -------------------- */

.pr_grid {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.pr_grid th, .pr_grid td {
    min-width: 66px;
    height: 1em;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pr_grid th {
    background: white;
    border: 1px solid #ddd;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}
.pr_grid th:first-child { width: 90px; }
.pr_grid td {
    position: relative;
    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.08);
}
.pr_grid thead td { text-align: center; }
.pr_grid tbody td {
    background: #9b9a9a;
    text-align: right;
}

.pr_grid a { color: inherit; }

.pr_grid .desc {
    background: #ffc634;
    color: black;
}
.pr_grid .conditions {
    background: #cb1717;
    color: white;
}
.pr_grid .noex {
    background: #6cc943;
    color: black;
}
.pr_grid .exb {
    background: #ff6600;
    color: white;
}
.pr_grid .exh {
    background: #6b1b6a;
    color: white;
}
.pr_grid .age {
    background: #99ffff;
    color: black;
}
.pr_grid .diff { min-width: 72px; }
.pr_grid .diff:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 18px;
    text-align: center;
}
.pr_grid .lower:before {
    content: "↘\FE0E";
    background: #ff8888 !important;
    color: black;
}
.pr_grid .higher:before {
    content: "↗\FE0E";
    background: #a2d4b6 !important;
    color: black;
}
.pr_grid .neutral:before {
    content: " ";
    background: #d7d7d7 !important;
    color: black;
}
.pr_grid .removed:after { content: '*'; }
.pr_grid .added:after { content: '*'; }

.pr_grid .info:not(.diff):before {
    position: absolute;
    margin-left: -1.2em;
    content: "⚠\FE0E";
}
.pr_grid .warn {
    filter: grayscale(90%) !important;
    color: #555;
}
.pr_grid .warn:not(.diff):before {
    position: absolute;
    margin-left: -1.2em;
    content: "⚠\FE0E";
}

/* -------------------- Tree -------------------- */

.tr_tree {
    margin: 8px 8px 8px 22px;
    padding: 0;
    white-space: nowrap;
}

.tr_tree li {
    margin-left: -8px;
    padding-top: 1px;
    list-style-type: none;
}
.tr_tree .n {
    padding-left: 12px;
    font-size: 0.7em;
    color: #888;
    vertical-align: middle;
}
.tr_tree li.parent { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPUlEQVQYlWNgGIZgPQMDw38cuB5ZoQAORfehciggAYvCAFxOOI+kaD0+typAFb3HZiU66GdgYCggpAgnAAADhRho33RdVwAAAABJRU5ErkJggg==') no-repeat; }
.tr_tree li.parent > span > .n { cursor: pointer; }
.tr_tree li.collapse { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPUlEQVQYlWNgGFpgPgMDgwIxCv9DcQGxCv8zMDCcx2f6fyy4nxiF76HOEMCncD8hq88zMDAEEPALdmtgAAAziBiJaRyRUwAAAABJRU5ErkJggg==') no-repeat; }
.tr_tree li.leaf { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPElEQVQYlWNgGObAgIGBwYGQonoGBob/UHwen0n/0XABNoUKxCpkgFoHU/SegYFBAJ87E6AmKeBThBMAANf6EaFwwYgUAAAAAElFTkSuQmCC') no-repeat; }
.tr_tree .direct .n { padding-left: 0; }
.tr_tree .direct:before { content: ' → '; }

.tr_tree ul {
    margin-left: 4px;
    border-left: 1px solid #ddd;
}
.tr_tree li.collapse ul { display: none !important; }

.tr_tree a.ghm {
    display: inline-block;
    padding: 0 2px;
    background: #ff6600;
    color: white;
}
.tr_tree .label {
    color: #888;
    font-size: 0.9em;
    font-style: italic;
}

@media screen and (min-width: 801px) {
    .tr_tree ul { padding-left: 30px; }
}

@media screen and (max-width: 800px) {
    .tr_tree ul { padding-left: 25px; }
    .tr_tree { font-size: 0.9em; }
}

/* -------------------- Options -------------------- */

.opt_list { font-size: 1.2em; }
.opt_list > b { font-variant: small-caps; }
