/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

/* -------------------- Prices -------------------- */

.pr_grid {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
    table-layout: fixed;
}
.pr_grid th, .pr_grid td {
    height: 1em;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pr_grid th {
    background: white;
    border: 1px solid #dfdfdf;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}
.pr_grid col:first-child { width: 90px; }
.pr_grid .ghm_root { display: none; }
.pr_grid td {
    position: relative;
    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.08);
}
.pr_grid thead td { text-align: center; }
.pr_grid tbody td {
    background: #9b9a9a;
    text-align: right;
}
.pr_grid thead tr:nth-child(2) td { border-top: 1px solid #dfdfdf; }

.pr_grid a { color: inherit; }

.pr_grid .desc {
    background: #eeeeee;
    color: black;
}
.pr_grid .conditions {
    background: #ffc634;
    color: black;
}
.pr_grid .exb {
    background: #edf8e9;
    color: black;
}
.pr_grid .noex {
    background: #bae4b3;
    color: black;
}
.pr_grid .exh {
    background: #74c476;
    color: black;
}
.pr_grid .age {
    background: #ffc634;
    color: black;
}
.pr_grid .diff { min-width: 72px; }
.pr_grid .diff::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 18px;
    text-align: center;
}
.pr_grid .lower::before {
    content: "↘\FE0E";
    background: #ff8888 !important;
    color: black;
}
.pr_grid .higher::before {
    content: "↗\FE0E";
    background: #a2d4b6 !important;
    color: black;
}
.pr_grid .neutral::before {
    content: " ";
    background: #d7d7d7 !important;
    color: black;
}
.pr_grid .removed::after { content: '*'; }
.pr_grid .added::after { content: '*'; }

.pr_grid .info:not(.diff)::before {
    position: absolute;
    margin-left: -1.2em;
    content: "⚠\FE0E";
}
.pr_grid .warn {
    filter: grayscale(90%) !important;
    color: #555;
}
.pr_grid .warn:not(.diff)::before {
    position: absolute;
    margin-left: -1.2em;
    content: "⚠\FE0E";
}

@media (pointer: coarse) or (max-width: 1100px) {
    .pr_grid { border: 0; }
    .pr_grid td, .pr_grid th {
        font-size: 0.9em;
        box-shadow: none;
    }
    .pr_grid th {
        display: none;
        border: 0;
    }
    .pr_grid .ghm_root {
        display: table-cell;
        background: #444;
        color: white;
        font-weight: normal;
        text-align: center;
    }
    .pr_grid tbody { counter-reset: duration -1; }
    .pr_grid .duration td:first-of-type::before {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        padding-top: 6px;
        height: 100%;
        font-size: 0.7em;
        background: rgba(255, 255, 255, 0.6);
        text-align: center;
        color: black;
        counter-increment: duration;
        content: counter(duration);
    }
}

/* -------------------- Tree -------------------- */

.tr_tree {
    margin: 8px 8px 8px 18px;
    padding: 0;
    white-space: nowrap;
}

.tr_tree li {
    margin-left: -8px;
    padding-top: 2px;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: left 3px;
}
.tr_tree .n {
    padding-left: 12px;
    font-size: 0.7em;
    color: #888;
    vertical-align: middle;
}
.tr_tree li.parent { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPUlEQVQYlWNgGIZgPQMDw38cuB5ZoQAORfehciggAYvCAFxOOI+kaD0+typAFb3HZiU66GdgYCggpAgnAAADhRho33RdVwAAAABJRU5ErkJggg=='); }
.tr_tree li.parent > span > .n { cursor: pointer; }
.tr_tree li.collapse { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPUlEQVQYlWNgGFpgPgMDgwIxCv9DcQGxCv8zMDCcx2f6fyy4nxiF76HOEMCncD8hq88zMDAEEPALdmtgAAAziBiJaRyRUwAAAABJRU5ErkJggg=='); }
.tr_tree li.leaf { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAPElEQVQYlWNgGObAgIGBwYGQonoGBob/UHwen0n/0XABNoUKxCpkgFoHU/SegYFBAJ87E6AmKeBThBMAANf6EaFwwYgUAAAAAElFTkSuQmCC'); }
.tr_tree .direct .n { padding-left: 0; }
.tr_tree .direct::before { content: ' → '; }
.tr_tree li.irrelevant {
    padding-top: 1px;
    background-position: 3px 3px;
    background-size: 5px 6px;
    font-size: 0.5em;
    opacity: 0.16;
}

.tr_tree ul {
    margin-left: 4px;
    padding-left: 30px;
    border-left: 1px solid #dfdfdf;
}
.tr_tree li.collapse ul { display: none !important; }

.tr_tree a.ghm {
    display: inline-block;
    padding: 0 2px;
    background: #ff6600;
    color: white;
}
.tr_tree .label {
    color: #888;
    font-size: 0.9em;
    font-style: italic;
}

@media (pointer: coarse) or (max-width: 1100px) {
    .tr_tree ul { padding-left: 25px; }
    .tr_tree {
        padding-top: 6px;
        font-size: 0.9em;
    }
}

/* -------------------- Tables -------------------- */

.ls_excel {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABrUlEQVQokWNgwA4YGbK0ebBLpRmzypY46MgWOYfLFbm2yRW7bFEod78vU+BwiMGTX5nBiUGZIUAMQhszsDLIFDp7KNZ4/les8vyvWO35X77C/b9EocN/h/aE//MPrfuz4vi2P3MPrPmz4tyOP2aNoYEMUkWOfsq13v+l8x3+i+bY/Fcucf8vU+D0X78m8H/agsb/C49u/B82rej/yWdX/0dOK4phkC5y9hEvdfxfu3bS//KVvf87t879L5Bp8V+vOuB/8tza/zP2rfwfMqXg/757Z/6HTS2IZJAucvYRLbb/HzGt5P/3Xz//u3Qm/xeEakiYU/1/2t4V/4Mm5f3fe/f0/7CpxRANIkV2/7MWNv1/8/n9/8hpJf/5M8z/61b5/4+dWfF/yp5l//0mZP/fc+cUVEO+g49Mhev/wmUd/yOmlfxv3zL7v3CW1X+96oD/ibMhNgRPzv+/7+5piJOkilz9lGq9/4vm2PwXzbH5L5Xv8F8W6unU+fX/FxzZ8D9kauH/E0+hnkYOVqVqr/+KlR7wYF1waN2flejByhCqzSZT6KJLdMThShqiOJIGADXf7VjCuLmEAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}

@media (pointer: coarse) {
    .ls_excel { display: none; }
}

/* -------------------- Options -------------------- */

.opt_list { font-size: 1.2em; }
.opt_list > b { font-variant: small-caps; }
