/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.pr_grid {
    width: 100%;
    border-collapse: collapse;
}
.pr_grid th, .pr_grid td {
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 60px;
    height: 1em;
}
.pr_grid th {
    background: white;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}
.pr_grid thead td { text-align: center; }
.pr_grid tbody td {
    background: #969696;
    text-align: right;
}
.pr_grid .desc { background: #ffc634; }
.pr_grid .conditions {
    background: #b70202;
    color: white;
}
.pr_grid .age { background: #99ffff; }

.pr_grid .price { background: #68dc33; }
.pr_grid .exb { background: #ff8900; }
.pr_grid .exh {
    background: #6b1b6a;
    color: #b4cdff;
}
.pr_grid .warn {
    filter: grayscale(90%) !important;
    color: #555;
}
.pr_grid .warn:before { content: "⚠ "; }

#pr_table .lower { background: #ff8888; }
#pr_table .higher { background: #a2d4b6; }
#pr_table .neutral { background: #d7d7d7; }
#pr_table .removed { background: #ff8888; }
#pr_table .removed:after { content: '*'; }
#pr_table .added { background: #a2d4b6; }
#pr_table .added:after { content: '*'; }

@media screen and (min-width: 801px) {
    .pr_grid tr:hover th {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    .pr_grid tr:hover td {
        filter: invert(10%);
        -webkit-filter: invert(10%);
    }
    .pr_grid th:first-child { width: 90px; }
    .pr_grid .repeat, .pr_grid .ghm_root { display: none; }
    .pr_grid thead td { font-weight: bold; }
}

@media screen and (max-width: 800px) {
    .pr_grid th, .pr_grid td {
        font-size: 0.9em;
        border: 0;
    }
    .pr_grid th:not(.repeat) { display: none; }
    .pr_grid .repeat {
        text-align: center;
        font-size: 0.8em;
        padding: 1px 0;
    }
    .pr_grid .ghm_root {
        box-sizing: border-box;
        max-width: 100vw;
        background: #262626;
        color: white;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
