/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.cm_summary .dtab td {
    min-width: 0;
    text-align: right;
}
.cm_summary .dtab th:first-child, .cm_summary .dtab td:first-child {
    min-width: 50px;
    text-align: left;
}

#cm_table .total {
    background: var(--mco_total_bg);
    color: var(--mco_total_fg);
    font-weight: bold;
}

#cm_table .count { border-right: 0; }
#cm_table .count.lower { padding-right: 19px; }
#cm_table .count.lower:before {
    float: right;
    margin-right: -19px;
}
#cm_table .count.higher { padding-right: 19px; }
#cm_table .count.higher:before {
    float: right;
    margin-right: -19px;
}
#cm_table .count.neutral { padding-right: 19px; }
#cm_table .count.neutral:before {
    float: right;
    margin-right: -19px;
}
#cm_table .empty { filter: opacity(50%); }
