/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout -------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}

#th_bar { background: #e9e9e9; }

@media screen and (min-width: 801px) {
    #th_bar {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
        width: 180px;
        z-index: 999;
    }

    main {
        max-width: 1000px;
        margin-left: 180px;
        padding: 1em;
    }
}

/* -------------------- Common elements -------------------- */

a {
    color: #ff6600;
    text-decoration: none;
    font-weight: normal;
}
a:hover { text-decoration: underline; }

button { cursor: pointer; }

/* -------------------- Sidebar -------------------- */

@media screen and (min-width: 801px) {
    #th_logo {
        display: block;
        margin: 1em auto;
    }
    #th_menu { flex: 1; }
    #th_version {
        padding: 0 2px 4px 2px;
        text-align: center;
        font-size: 0.8em;
        color: #ff6600;
    }
}
