/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout -------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

#th_side {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    min-height: 100%;
    width: 180px;
    z-index: 999;
    background: #e9e9e9;
}

main {
    display: block;
    box-sizing: border-box;
    max-width: 1000px;
    margin-left: 180px;
    padding: 6px 12px 6px 12px;
}

@media (pointer: coarse) {
    #th_side {
        display: block;
        width: 100%;
        min-height: 0;
        background: #262626;
        color: white;
        overflow: hidden;
    }

    main {
        max-width: none;
        margin: 38px 0 0 0;
        padding: 0;
    }
}

/* -------------------- Common elements -------------------- */

a {
    color: #ff6600;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}
a:hover { text-decoration: underline; }

button { cursor: pointer; }

.th_form {
    width: 340px;
    max-width: 340px;
}
.th_form label {
    display: block;
    margin: 0 0 15px 0;
}
.th_form label > * { float: right; }
.th_form button, .th_form input[type=submit] {
    display: block;
    margin: 0 auto;
}

@media (pointer: coarse) {
    .th_form {
        width: auto;
        margin: 0 auto;
        padding: 8px;
    }
}

/* -------------------- Sidebar -------------------- */

#th_logo {
    display: block;
    margin: 2em auto 1.2em auto;
}

.th_deploy { display: none; }

#th_bar {
    flex: 1;
    display: flex;
    align-items: start;
}

#th_menu { flex: 1; }
#th_menu a.category {
    display: block;
    padding-left: 0.5em;
    box-sizing: border-box;
    font-weight: bold;
    font-variant: small-caps;
}
#th_menu a {
    display: block;
    padding: 0.5em 0.5em 0.5em 2em;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: black;
}
#th_menu a.active {
    background: #262626;
    color: white;
}
#th_menu a:not(.category):not(.active):hover {
    background: #dfdfdf !important;
    color: black !important;
}

#th_version {
    padding: 0 2px 4px 2px;
    text-align: center;
    font-size: 0.8em;
    color: #ff6600;
}
@media (pointer: coarse), (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #th_version { display: none; }
}

@media (pointer: coarse) {
    #th_logo { display: none; }

    .th_deploy {
        display: block;
        width: 38px;
        height: 38px;
        cursor: pointer;
        z-index: 999;
    }

    #th_menu {
        min-height: 38px;
        font-size: 1.3em;
    }
    #th_menu a { color: white !important; }
    #th_menu:not(.active) {
        max-height: 38px;
        margin-left: -1.5em;
    }
    #th_menu:not(.active) a:not(.active) { display: none; }
}

/* -------------------- Main -------------------- */

#th_header {
    margin: 0 0 6px 0;
    text-align: center;
}

#th_session {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    padding: 6px 2px;
    text-align: center;
    font-size: 0.8em;
    z-index: 9999;
}

#th_view.busy {
    animation: th_view_busy 1s 1 linear;
    filter: grayscale(100%);
    opacity: 0.2;
    pointer-events: none;
}
@keyframes th_view_busy {
    from { filter: grayscale(0); opacity: 1; }
    40% { filter: grayscale(0); opacity: 1; }
    60% { filter: grayscale(100%); opacity: 0.2; }
    to { filter: grayscale(100%); opacity: 0.2; }
}
#th_view.error {
    font-size: 1.3em;
    color: red;
    padding: 10px;
    text-align: center;
}

@media (pointer: coarse) {
    #th_header {
        position: fixed;
        top: 38px;
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        background: #eee;
        z-index: 999;
        font-size: 1.1em;
    }
    #th_header:not(.active) { display: none; }

    #th_session {
        position: static;
        width: auto;
        padding-top: 0;
        font-size: inherit;
    }

    #th_options > * { max-width: 100%; }
    #th_options label {
        display: block;
        clear: both;
        margin-bottom: 12px;
        text-align: left;
    }
    #th_options label > input, #th_options label > select { float: right; }
}
