/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.dtab_count {
    margin: 3px;
    font-size: 0.9em;
    font-style: italic;
    color: #777;
}

.dtab_table {
    width: 100%;
    border-collapse: collapse;
}
.dtab_table thead { background: #ccc; }
.dtab_table tbody { background: #fafafa; }
.dtab_table th, .dtab_table td {
    min-width: 60px;
    max-width: 260px;
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dtab_table th {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.dtab_table .parent { background: #eee; }

.dtab_table .ascending {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAAOUlEQVQImWNgwARODAwM8VjEsYIkBgaGXwwMDP8ZGBjSCClOgypExjg1YVOMU5MtAwPDGQLYFqYYAH3dFcttYcRhAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: right center;
}
.dtab_table .descending {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAANklEQVQImWNgYGCwZWBgOEMA2zKggTQGBob/OHAaumJ8mnAqhoEkBgaGX8QqhgEnBgaGeFySAMvFFcvEu6Q2AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: right center;
}

@media screen and (max-width: 800px) {
    .dtab_table th, .dtab_table td {
        font-size: 0.8em;
        border: 0;
    }
}
