<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ TITLE }}</title>

        <link rel="stylesheet" href="{{ ASSET main.css }}">
        <link rel="stylesheet" href="{{ ASSET opensans/OpenSans.css }}">

        <script type="text/javascript" src="{{ ASSET main.js }}" async></script>
    </head>
    <body class="nojs">
        <div id="deploy" onclick="deploy(); return false;"></div>

        <nav id="top">
            <menu>
{{ LINKS }}

                <div style="flex: 1;"></div>
                <li><a href="https://github.com/Koromix">GitHub</a></li>
                <div style="flex: 1;"></div>
                <li><a href="mailto:niels.martignene@protonmail.com">Contact me</a></li>
            </menu>
        </nav>

        {{ TOC }}

        <main>{{ CONTENT }}</main>
    </body>
</html>
