<!DOCTYPE html>
<html lang="en" class="nojs">
    <head>
        {BASE_URL}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{TITLE}</title>

        <link rel="stylesheet" href="static/main.css">
        <link rel="stylesheet" href="static/OpenSans.css">

        <script type="text/javascript" src="static/main.js" async></script>
    </head>
    <body>
        <div id="top">
            <a id="top_deploy" href="#" onclick="toggleMenu('#top_menu'); return false;"></a>
            <nav id="top_menu">
                <ul>
{LINKS}

                    <li style="float: right;"><a href="mailto:niels.martignene@protonmail.com">Contact</a></li>
                    <li style="float: right;"><a href="https://github.com/Koromix">GitHub</a></li>
                </ul>
            </nav>
        </div>
        <div id="content">
{TOC}

            <main>
{CONTENT}
            </main>
        </div>
        <footer>Niels Martignène&nbsp;&nbsp;&nbsp;<span style="opacity: 0.6;">Koromix<span></footer>
    </body>
</html>