<!DOCTYPE html>
<html lang="en" class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{TITLE}</title>

        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/opensans/OpenSans.css">

        <script type="text/javascript" src="/static/main.js" async></script>
    </head>
    <body>
        <a id="deploy" href="#" onclick="deploy(); return false;"></a>

        <nav id="top">
            <ul>
{LINKS}

                <div style="flex: 1;"></div>
                <li><a href="https://github.com/Koromix">GitHub</a></li>
                <div style="flex: 1;"></div>
                <li><a href="mailto:niels.martignene@protonmail.com">Contact me</a></li>
            </ul>
        </nav>

        {TOC}

        <main>{CONTENT}</main>
    </body>
</html>
