/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Global layout -------------------- */

#af_editor {
    position: fixed;
    left: 0;
    top: 30px;
    height: calc(100% - 30px);
    width: 50%;
    box-sizing: border-box;
    z-index: 999;
}
#af_page { margin: 0 0 0 50%; }

/* -------------------- Form and sections -------------------- */

.af_title {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin: 0;
    padding: 3px 2em;
    background: #ff6600;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAALCAYAAABhwJ3wAAAAmElEQVQ4jbXSsQpBARgFYC+hDLJISZQUA2UymCzKi8uiDEqhUKKw+CyGf7jEdZ064+lbTg55THHPqGtUc0lBAbMMkA3qiUjAipj/gOzQfIsErIRFCuSA9kdIwMpYfoEc0f0KCVgFqw+QE/qpkIDVng96hZwx+AkJWAPbBOSCYSZIwFrYB+SKUaZIwDrPZ90w/gsSsB4mafcPBrf6ZZY6+FYAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: right;
    border: 0;
    outline: 0;
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    text-align-last: center;
}
.af_form {
    background: #eaeaea;
    padding: 2px;
}
.af_form_broken {
    filter: grayscale(100%);
    opacity: 0.5;
}
.af_log {
    position: fixed;
    top: 60px;
    padding: 5px;
    background: #db0a0a;
    color: white;
}

.af_section {
    margin: 0.5em 2px 0 2px;
    padding: 0.5em;
    background: rgba(136, 136, 136, 18%);
    border: 0;
}
.af_section legend {
    padding: 1px 0.7em;
    background: #ff6600;
    font-size: 1.1em;
    color: white;
}

/* -------------------- Widgets -------------------- */

.af_widget {
    margin: 6px;
    padding: 5px;
}
.af_widget:after {
    display: table;
    content: " ";
    clear: both;
}
.af_widget > label {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    padding-top: 3px;
}
.af_widget_error {
    background: #db0a0a;
    color: white;
}
.af_error {
    float: right;
    clear: both;
    padding-top: 3px;
    text-align: right;
}
.af_help {
    font-size: 0.85em;
    font-style: italic;
    margin: 2px 0 0 20px;
}
.af_help:before { content: '☞ '; }
.af_prefix, .af_suffix { font-size: 0.85em; }

/* -------------------- Widget types -------------------- */

.af_select, .af_radio, .af_multi { display: inline-block; }

.af_button {
    margin: 0 1px 0 0;
    padding: 1px 0.7em;
    background: #f8f8f8;
    border: 1px solid #999;
}
.af_button:hover { border: 1px solid #ff6600; }
.af_button.active {
    background: #ff6600;
    border: 1px solid #ff6600;
    color: white;
}

.af_link { color: #ff6600; }
.af_link:hover { text-decoration: underline; }
