/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Sections -------------------- */

.af_section {
    min-height: 30px;
    margin: 6px 0 12px 0;
    padding: 0 5px 0 5px;
    background: rgba(136, 136, 136, 0.18);
    border: 0;
}
.af_section > legend {
    padding: 1px 0.7em;
    background: #24579d;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}

.af_section_error {
    background: #f4e6e6;
    border: 1px dashed #d72a2a;
    padding: 5px 10px;
}
.af_section_error > legend {
    background: #d72a2a;
    margin-left: -5px;
}

.af_deploy {
    display: block;
    padding: 2px 0 5px 0;
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
}

/* -------------------- Widgets -------------------- */

.af_widget {
    margin-bottom: 2px;
    padding: 5px;
}
.af_widget > label {
    display: block;
    vertical-align: top;
    margin-bottom: 6px;
    padding-top: 3px;
}
.af_widget_mandatory > label:after {
    content: ' *';
    color: #d72a2a;
}
.af_widget_error {
    background: #d72a2a;
    color: white;
}
.af_widget_disable {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.af_error {
    margin-top: 6px;
    font-style: italic;
}
.af_help {
    font-size: 0.85em;
    font-style: italic;
    margin: 2px 0 0 20px;
}
.af_help:before { content: '☞\FE0E  '; }
.af_prefix, .af_suffix { font-size: 0.85em; }

.af_widget_large:after {
    display: table;
    content: " ";
    clear: both;
}
.af_widget_large > label {
    display: inline-block;
    width: 250px;
    margin-bottom: 0;
}
.af_widget_large .af_error {
    float: right;
    clear: both;
    margin-top: 3px;
}

/* -------------------- Widget types -------------------- */

.af_select, .af_radio, .af_multi { display: inline-block; }

.af_button {
    margin: 0 1px 1px 0;
    padding: 1px 0.7em;
    background: #f8f8f8;
    border: 1px solid #999;
}
.af_button::-moz-focus-inner { border: 0; }
.af_button:not(:disabled):focus { outline: 1px dotted #999; }
.af_button:not(:disabled):hover { border: 1px solid #24579d; }
.af_button:disabled { background: #999; }
.af_button.active {
    background: #24579d;
    border: 1px solid #24579d;
    color: white;
}

.af_buttons {
    margin: -10px 0 0 0;
    text-align: center;
}
.af_buttons > .af_button {
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 10px auto 0 auto;
}

.af_calc { font-style: italic; }

.af_widget > p:first-child { margin-top: 0; }
.af_widget > p:last-child { margin-bottom: 0; }

/* -------------------- Export -------------------- */

.af_records {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.af_records thead {
    height: 2.5em;
    background: #ddd;
}
.af_head_actions { width: 2.5em; }

.af_records tbody tr:nth-child(2n + 1) { background: #efefef; }
.af_records tbody tr:nth-child(2n) { background: #f4f4f4; }
.af_records tbody tr.af_row_current {
    background: #24579d;
    color: white;
}

.af_records tbody th, .af_records td { border: 1px solid #ddd; }
.af_records td {
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.af_records td:first-child, .af_records td:first-child { border-left: 0; }
.af_records td:last-child, .af_records td:last-child { border-right: 0; }

.af_records a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.af_record_number { text-align: right; }
.af_record_missing {
    text-align: center;
    font-style: italic;
    color: #cbcbcb;
}

.af_excel {
    display: block;
    width: 100%;
    height: 20px;
    background: inherit;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACX0lEQVQ4jb3Uz0sUYRzHcekv6BoUdFTYedh5+kU/8ZJlI44XMYsyiajcim6l+0zqwV3dXGNX0qLdJLdIMGckavdgSZsZRDLr2qEaocAo3GcrYYJczfbTQZgSZteU6Avv23xf8PDwTEHB/x6H27GBMLHcwZyNAnOeWNGyUC8UErdY7WDUJzBxSGD0M1EorJgY+iuIKGI3YfT7kmWbdlzZ/UlS5WG7ylT5xm+Q0cfLYUSh2NVZjDKtIkfyxxWDteHj8I90QNJk+Ec6rFyxs/bg6W4XPH1eVPsPgygUle1V8PR5UROoBVEo+of7AQB7B0rx52ivBu3Bhh6GbDYL/Y0OolAkJ5OYnZtFVXs1iEJxNHQMrXEfJE1G21MfWuOLnYq6ch/55esxLPxcQEANAgDUuGYdORy7CW5ylKgS0t/S4CYHNzl6xyK5wYP+Q8jMZ5CZy2D6yzTopS0WGLzfCYMb2KdKMNKTMLgBgxu49uJ6bnBT4zbwrxwAkJxMLrmUc5Hz6NUjOKCVo1ePWF14VJ8bfPD8IbLI4tnEKACgrc9ngSu+lLquM5j/MY9xYxw7m/dgxpxBeiaNrU3bQRSKI6EatMS9kDQZnrgXLU8WOxmtswdvD91BwkigrssFolBcHeyC/jaBpkgziEIRioaRMlMoUSVwkyNlppAyU7iV71LydVlthz6lY79ahsSHBPQpHfqUjsBocHXgP396+UBJk99bYOFF50bB7awkTPQQJsYEJk7bgWLT5rulA6Xr7SruqVib95dW1FC0ztHglAijbqKI9wgT3wluMZx3aRWzZrkPfgHaVZ/xKHV1OAAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
}
