/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout -------------------- */

body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}

#gp_menu {
    position: fixed;
    top: 0;
    color: white;
}

main { margin-top: 30px; }

/* -------------------- Common elements -------------------- */

a { color: #24579d; }
button {
    font-family: inherit;
    font-size: 1em;
}
button:not(:disabled) { cursor: pointer; }

/* -------------------- Toolbars -------------------- */

.gp_toolbar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    z-index: 999;
    background: #24579d;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gp_toolbar button {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    background: inherit;
    border: 0;
    color: inherit;
    text-decoration: none;
}
.gp_toolbar button:not(.active):hover { background: #376cb5; }
.gp_toolbar button.active { background: #3b7ad1; }

/* -------------------- Paths -------------------- */

.gp_path {
    padding: 4px 0 4px 0;
    height: 22px;
}

.gp_path_node {
    display: inline-block;
    position: relative;
    height: 16px;
    padding: 2px 14px 4px 20px;
    background: #efefef;
    color: black;
    text-decoration: none;
}
.gp_path_node:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: -11px;
    width: 22px;
    height: 22px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: inherit;
    box-shadow: 3px -3px #f8f8f8;
}
.gp_path_node.complete {
    background: #016a27;
    color: white;
}
.gp_path_node.partial {
    background: #ff6600;
    color: white;
}
.gp_path_node:hover {
    background: #24579d;
    color: white;
}

/* -------------------- Misc -------------------- */

.gp_wip {
    padding: 5px;
    font-size: 3em;
    color: red;
}
.gp_wip:before {
    content: '⚠\FE0E';
    padding-right: 10px;
}

/* -------------------- Popup -------------------- */

#gp_popup {
    display: none;
    position: fixed;
    z-index: 9999;
    padding: 6px;
    border: 1px solid #ddd;
    background: #efefef;
}
#gp_popup.active { display: block; }
