/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout -------------------- */

body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}

@media (pointer: coarse) {
    body { font-size: 17px; }
}

#gp_menu {
    position: fixed;
    top: 0;
    color: white;
}

main { margin-top: 2.5em; }

/* -------------------- Common elements -------------------- */

a { color: #24579d; }

button {
    font-family: inherit;
    font-size: 1em;
}
button:not(:disabled) { cursor: pointer; }

/* -------------------- Toolbars -------------------- */

.gp_toolbar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 2.5em;
    margin: 0;
    padding: 0;
    z-index: 999;
    background: #24579d;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gp_toolbar button {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    background: inherit;
    border: 0;
    color: inherit;
    text-decoration: none;
}
.gp_toolbar button:not(.active):not(:disabled):hover { background: #376cb5; }
.gp_toolbar button.active { background: #3b7ad1; }
.gp_toolbar button:disabled { filter: brightness(75%); }

/* -------------------- Popup -------------------- */

#gp_popup {
    display: none;
    position: fixed;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ddd;
    background: #efefef;
    z-index: 9999;
}
#gp_popup.active { display: block; }
