/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout -------------------- */

body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}

@media screen and (max-width: 599px) {
    body { margin: 30px 0 0 0; }
}

#gp_menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 999;
    background: #262626;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#gp_menu a {
    display: table-cell;
    height: 30px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px 1.5em 0 1.5em;
    color: white;
}
#gp_menu a.active {
    background: #f8f8f8;
    color: black;
}
#gp_menu a:not(.active):hover { background: #444; }

main { margin-top: 30px; }

/* -------------------- Common elements -------------------- */

a { color: var(--main_color); }
button {
    font-family: inherit;
    font-size: 1em;
}
button:not(:disabled) { cursor: pointer; }

/* -------------------- Popup -------------------- */

#gp_popup {
    display: none;
    position: fixed;
    z-index: 9999;
    padding: 6px;
    border: 1px solid #ddd;
    background: #efefef;
}
#gp_popup.active { display: block; }
