/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Week day names header -------------------- */

#sc_header {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#sc_header div {
    display: inline-block;
    width: 14.28%; /* 100% / 7 */
    text-align: center;
    color: #444;
    font-style: italic;
}

/* -------------------- Year / month selection menu -------------------- */

#sc_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 999;
    color: white;
    justify-content: center;
}

.sc_selector { margin: 0 1em; }
.sc_selector > b {
    display: inline-block;
    width: 5em;
    text-align: center;
    font-weight: bold;
}

#sc_footer .sc_month_warn:before { content: '⚠\FE0E  '; }
#sc_footer .sc_month_warn:not(.active) {
    background: #db0a0a;
    color: white;
}

/* -------------------- Schedule layout -------------------- */

.sc_days:after {
    display: table;
    content: " ";
    clear: both;
}
.sc_skip, .sc_day {
    float: left;
    width: calc(14.28% - 4px); /* 100% / 7 */
    min-height: 134px;
    box-sizing: border-box;
    margin: 2px;
}
.sc_day {
    background: #eaeaea;
    text-align: center;
}
.sc_day_disabled { background: #cbcbcb; }
.sc_day a {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

/* -------------------- Day header -------------------- */

.sc_head {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
}
.sc_day_disabled .sc_head { background: #373737; }
.sc_day_some .sc_head { background: #24579d; }
.sc_day_full .sc_head { background: green; }
.sc_day_warn .sc_head { background: #db0a0a; }
.sc_opt_empty .sc_head {
    background: repeating-linear-gradient(
        -45deg,
        #373737,
        #373737 10px,
        #515151 10px,
        #515151 20px
    )
}
.sc_opt_some .sc_head {
    background: repeating-linear-gradient(
        -45deg,
        #ff6600,
        #ff6600 10px,
        #f26100 10px,
        #f26100 20px
    )
}
.sc_head_date {
    display: table-cell;
    text-align: left;
}
.sc_head_count {
    display: table-cell;
    text-align: right;
}
.sc_head_week_day { display: none; }
.sc_head_date {
    display: table-cell;
    text-align: left;
}

/* -------------------- Slot table -------------------- */

.sc_slots {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.sc_slots th {
    font-size: 0.85em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}
.sc_slots td {
    border: 0;
    padding: 1px 1px 2px 1px;
    font-size: 0.9em;
}
.sc_slots tr:hover {
    background: #bbb;
    color: white;
}
.sc_slot_time {
    opacity: 0.7;
    text-align: right;
    width: 36px;
    border: 0;
}
.sc_slot_used .sc_slot_time { cursor: grab; }
.sc_slot_identity { text-align: left; }
.sc_slot_warn.sc_slot_used {
    background: #db0a0a;
    color: white;
    font-style: italic;
}
.sc_slot_warn .sc_slot_identity:after {
    float: right;
    margin-right: 3px;
    content: '⚠\FE0E';
    font-style: normal;
}
.sc_slot_overbook .sc_slot_time, .sc_slot_overbook.sc_slot_used { font-style: italic; }
.sc_slot_overbook.sc_slot_used {
    background: #9b56f2;
    color: white;
    font-style: italic;
}
.sc_slot_overbook .sc_slot_identity:after {
    float: right;
    margin-right: 3px;
    content: '≈';
    font-style: normal;
}
.sc_slot_edit {
    text-align: center;
    width: 8px;
    font-weight: bold;
}
.sc_slot_edit > a {
    font-weight: bold;
    color: inherit;
}
.sc_slot_option > a { color: inherit; }

/* -------------------- Special modes -------------------- */

.sc_actions { padding: 3px 0; }
.sc_day_copy {
    display: flex;
    flex-direction: column;
}
.sc_day_copy a {
    display: block;
    flex: 1;
    vertical-align: middle;
    font-size: 3em;
    color: black;
}
.sc_day_copy a:hover { background: #ccc; }
