<!DOCTYPE html>
<html lang="en" class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ TITLE }} | Niels Martignène (Koromix)</title>
        <meta name="author" content="Niels Martignène">
        <meta name="description" content="{{ DESCRIPTION }}">

        <meta name="theme-color" content="#383838">
        <link rel="stylesheet" href="{{ ASSET static/site.min.css }}">

        <script type="text/javascript" src="{{ ASSET static/highlight.min.js }}" async></script>
        <script type="text/javascript" src="{{ ASSET static/site.min.js }}"></script>
    </head>

    <body>
        <nav id="top">
            <div class="deploy"></div>
            <menu>
{{ LINKS }}

                <div style="flex: 1;"></div>
                <li style="width: 90%; text-align: center;">
                    <a href="https://github.com/Koromix" style="border-bottom-color: transparent;"><img src="https://img.shields.io/badge/GitHub-Koromix-ff6600" alt="GitHub"/></a>
                    <a href="https://codeberg.org/Koromix" style="border-bottom-color: transparent;"><img src="https://img.shields.io/badge/Codeberg-Koromix-2185d0" alt="Codeberg"/>
                </li>
                <div style="flex: 1;"></div>
                <li><a href="mailto:niels.martignene@protonmail.com">Niels Martignène</a></li>
            </menu>
        </nav>

        {{ TOC }}

        <main>
            {{ CONTENT }}
        </main>
    </body>
</html>
