<!DOCTYPE html>
<html lang="en" class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ TITLE }} | Niels Martignène (Koromix)</title>
        <meta name="author" content="Niels Martignène">
        <meta name="description" content="{{ DESCRIPTION }}">

        <meta name="theme-color" content="#383838">
        <link rel="stylesheet" href="{{ ASSET static/site.min.css }}">

        <script type="text/javascript" src="{{ ASSET static/site.min.js }}"></script>
    </head>

    <body>
        <div id="deploy"></div>

        <nav id="top">
            <menu>
{{ LINKS }}

                <div style="flex: 1;"></div>
                <li><a href="https://codeberg.org/Koromix" style="border-bottom-color: transparent;"><img src="https://img.shields.io/badge/Codeberg-Koromix-2185d0" alt="Codeberg"/></a></li>
                <div style="flex: 1;"></div>
                <li><a href="mailto:niels.martignene@protonmail.com">Niels Martignène</a></li>
                <a id="hire" href="mailto:niels.martignene@protonmail.com">Available for hire</a>
            </menu>
        </nav>

        {{ TOC }}

        <main>
            {{ CONTENT }}
        </main>
    </body>
</html>
