<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Niels Martignène – {{ TITLE }}</title>
        <meta name="author" content="Niels Martignène">
        <meta name="description" content="{{ DESCRIPTION }}">

        <link rel="stylesheet" href="{{ ASSET static/site.min.css }}">
        <script type="text/javascript" src="{{ ASSET static/site.min.js }}"></script>
    </head>

    <body class="nojs">
        <div id="deploy" onclick="main.deploy(); return false;"></div>

        <nav id="top">
            <menu>
{{ LINKS }}

                <div style="flex: 1;"></div>
                <li><a href="https://github.com/Koromix" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/koromix" target="_blank">LinkedIn</a></li>
                <div style="flex: 1;"></div>
                <li><a href="mailto:niels.martignene@protonmail.com">Niels Martignène</a></li>
            </menu>
        </nav>

        {{ TOC }}

        <main>
            {{ CONTENT }}
        </main>

        <script>
            main.init();
        </script>
    </body>
</html>
