/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.epag {
    margin: 2px;
    font-size: 1.1em;
    text-align: center;
}

.epag table {
    table-layout: fixed;
    margin: 0 auto;
    padding: 0;
}
.epag td {
    width: 28px;
    vertical-align: middle;
    padding: 0;
}
