/* This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program. If not, see https://www.gnu.org/licenses/. */

.vlin {
    width: 100%;
    height: 50px;
}

.vlin_line {
    stroke: #888;
    stroke-width: 1;
}

.vlin_node { cursor: pointer; }
.vlin_node_current {
    color: #ff6600;
    fill: #ff6600;
    font-weight: bold;
}
.vlin_node_major {
    color: black;
    fill: black;
    font-weight: normal;
}
.vlin_node_normal {
    color: #888;
    fill: #888;
    font-weight: normal;
}
.vlin_text { cursor: pointer; }

@media screen and (max-width: 800px) {
    .vlin_text { font-size: 0.85em; }
}
