/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

@import url('../../../src/web/flat/flat.css');
@import url('../../../vendor/highlight.js/styles/base16/tomorrow.css');

html {
    --top_height: 70px;
    --small_height: 70px;

    --top_color: #0659a6;
    --anchor_color: #0659a6;
    --button_color: #0659a6;
}

#me {
    display: flex;
    gap: 2em;
    align-items: center;

    & > img {
        width: 210px;
        height: 300px;
    }
    & > div { flex: 1; }
}

.illustrations {
    display: flex;
    margin: 2em;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;

    & img { object-fit: contain; }
}

.project {
    display: flex;
    gap: 1em;

    & > img {
        margin: 0 1em;
        object-fit: contain;
    }
    & > div { flex: 1; }
}

@media screen and (max-width: 960px) {
    #top li > a.active { display: block !important; }
    #me > img { display: none; }

    .project {
        flex-direction: column !important;
        align-items: center;
    }
}
