/* This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program. If not, see https://www.gnu.org/licenses/. */

@import url('../../../vendor/opensans/OpenSans.css');
@import url('../../../vendor/highlight.js/styles/base16/tomorrow.css');

html { scroll-padding-top: 80px; }

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #383838;
    line-height: 1.5;
}

#top {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 2px solid white;
    transition: border-bottom-color 0.2s ease;
}
#top.border { border-bottom-color: #383838; }
#top menu {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    max-width: 1200px;
    height: 70px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px 16px 24px 16px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: visible;
}
#top li { list-style-type: none; }
#top li > a {
    display: block;
    color: #383838;
    text-decoration: none;
    border-bottom: 1px solid #383838;
    text-transform: uppercase;
}
#top li > a:hover {
    margin-bottom: -1px;
    border-bottom: 2px solid #e97713;
}
#top li > a.active { font-weight: bold; }

#side menu {
    margin: 0;
    padding: 8px;
    width: 224px;
    box-sizing: border-box;

    position: fixed;
    left: calc(50% + 360px);
    top: 100px;

    border: 2px solid #383838;
}
#side li { list-style-type: none; }
#side a {
    display: block;
    padding: 1px;
    color: #383838;
}
#side a.active { font-weight: bold; }
#side a.lv1 { padding-left: 12px; }
#side a.lv2 { padding-left: 27px; }
#side a.lv3 { padding-left: 42px; }
#side a.lv4 { padding-left: 57px; }
#side a.lv5 { padding-left: 72px; }
#side a.lv6 { padding-left: 87px; }

#deploy { display: none; }

main {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
    padding: 0 16px 16px 16px;
}
#side ~ main { padding-right: 290px; }

p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }
h1, h2, h3 { margin-top: 0; }
* + h1, * + h2, * + h3 { margin: 0.8em 0 0 0; }
h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
}
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
}
h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
}

a {
    color: #e97713;
    cursor: pointer;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

table {
    margin: 1em auto;
    border-collapse: collapse;
}
th {
    padding: 0.5em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    text-align: center;
}
td {
    padding: 0.5em;
    background: white;
    border: 1px solid #ebebeb;
}
th.center, td.center { text-align: center; }
th.right, td.right { text-align: right; }

table + div.legend {
    margin-top: calc(-1em + 2px);
    text-align: center;
    font-size: 0.8em;
}

code:not(.hljs) {
    padding: 2px 6px;
    font-family: monospace;
    font-size: 14px;
    background: #eee;
}

pre {
    position: relative;
    max-height: 360px;
    margin: 1em 20px;
    padding: 0;
    border: 1px solid #ebebeb;
    background: #ffffff;
    overflow: auto;
    font-size: 12px;
    z-index: 0;
}
.nojs pre { padding: 6px; }

.alert {
    margin: 1.8em 1em 1.4em 1em;
    padding: 0.8em 1em;
    background: #fcfcfc;
    border-left: 3px solid var(--color);
}
.alert > .title {
    font-weight: bold;
    color: var(--color);
}
.alert.note { --color: #316dca; }
.alert.tip { --color: #347d39; }
.alert.important { --color: #8256d0; }
.alert.warning { --color: #966600; }
.alert.caution { --color: #c93c37; }

#me {
    display: flex;
    gap: 2em;
    align-items: center;
}
#me > img {
    width: 210px;
    height: 300px;
}
#me > div { flex: 1; }

#hire {
    display: block;
    position: absolute;
    right: 16px;
    top: 57px;
    padding: 2px 8px;
    background: #ee0a0a;
    border-radius: 6px;
    font-size: 0.8em;
    color: white;
}

@media screen and (max-width: 1300px) {
    #side menu {
        width: auto;
        margin: 16px;
        padding: 16px;
        position: static;
    }

    main { padding-right: 16px !important; }

    #hire {
        position: fixed;
        right: 16px;
        top: 19px;
    }
}

@media screen and (max-width: 960px) {
    #top menu {
        padding-left: 60px;
        flex-direction: column;
        gap: 0;
        align-items: start;
        z-index: 8;
    }
    #top li > a {
        font-size: 1.1em;
        height: 1.6em;
        border-bottom: none;
    }
    #top li > a:hover { margin-bottom: -2px; }
    .js #top li > a:not(.active) { display: none; }
    #top.active menu {
        height: auto;
        gap: 4px;
    }
    #top.active li > a { display: block !important; }

    #side a {
        font-size: 1.1em;
        height: 1.6em;
    }

    .js #deploy {
        display: block !important;
        position: fixed;
        width: 42px;
        height: 40px;
        top: 10px;
        left: 8px;
        padding: 0;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAOUlEQVQ4T2O0sLD4z0ADwDhqMCxUGWkQvGAjRw2GhyztgmI0HcPTMc2CYjSDDOGygmapYtRgWKoAAGrCE+uzrIQ5AAAAAElFTkSuQmCC");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 999;
        cursor: pointer;
    }

    pre { margin: 1em 0; }

    .alert {
        margin-left: 0.4em;
        margin-right: 0.4em;
    }

    #me > img { display: none; }
}
