<!DOCTYPE html>
<html lang="fr" class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ TITLE }}</title>
        <meta name="description" content="{{ DESCRIPTION }}">
        <link rel="icon" href="{{ ASSET favicon.webp }}">

        <meta name="theme-color" content="#3c7778">
        <link rel="stylesheet" href="{{ ASSET ../assets/web/site.css }}">

        <script type="text/javascript" src="{{ ASSET ../assets/web/site.js }}"></script>
    </head>

    <body>
        <div id="deploy"></div>

        <nav id="top">
            <menu>
                <a id="logo" href="/"><img src="{{ ASSET ../assets/logo.webp }}" width="578" height="240" alt="" /></a>

{{ LINKS }}
            </menu>
        </nav>

        <main>
            {{ CONTENT }}
        </main>

        <footer>
            <div>Lignes de Vie © 2024</div>
            <img src="{{ ASSET ../assets/footer.webp }}" alt="" width="79" height="64">
            <div style="font-size: 0.8em;">
                Cn2r, 103 Bld de la liberté, 59000 LILLE<br>
                <a href="mailto:lignesdevie@cn2r.fr" style="font-weight: bold; color: inherit;">lignesdevie@cn2r.fr</a>
            </div>
        </footer>

        <a id="sos" href="https://3114.fr/je-suis-en-souffrance/" onclick="app.sos(event); return false;">SOS</a>
    </body>
</html>
