<!DOCTYPE html>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!-- SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> -->
<html lang="fr" class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        <title>{{ TITLE }}</title>
        <meta name="description" content="{{ DESCRIPTION }}">
        <link rel="icon" href="{{ ASSET favicon.webp }}">

        <meta name="theme-color" content="#3c7778">
        <link rel="stylesheet" href="{{ ASSET static/ldv.css }}">

        <script type="text/javascript" src="{{ ASSET static/ldv.js }}"></script>
    </head>

    <body>
        <div id="deploy"></div>

        <nav id="top">
            <menu>
                <a id="logo" href="/"><img src="{{ ASSET ../assets/main/logo.webp }}" width="578" height="240" alt="" /></a>
{{ LINKS }}
            </menu>
        </nav>

        <main>
            {{ CONTENT }}
        </main>

        <footer>
            <div style="text-align: right;">
                Lignes de Vie © 2025
                <a class="legal" href="/mentions">Mentions légales</a>
            </div>
            <img src="{{ ASSET ../assets/main/footer.webp }}" alt="" width="79" height="64">
            <div style="font-size: 0.8em;">
                <a href="mailto:contact@ldv-recherche.fr" style="font-weight: bold; color: inherit;">contact@ldv-recherche.fr</a>
            </div>
        </footer>
    </body>
</html>
