/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

@import url('src/core/web/base/reset.css');

html { height: 100%; }

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202020;
}

& :is(input[type=text], select, textarea) {
    padding: 2px 4px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
& select:not(:disabled) { cursor: pointer; }

& label:has(> input[type=radio]) {
    flex-direction: row;
    gap: 0.4em;
    align-items: center;
}
& input[type=radio] {
    appearance: none;
    width: 16px;
    height: 16px;
    margin: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
& input[type=radio]:checked::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
    background: #aaa;
    border-radius: 50%;
}
& label:has(> input[type=radio]) + label:has(> input[type=radio]) { margin-left: 0.8em; }
& label:has(> input[type=radio]:not(:disabled)) { cursor: pointer; }

& label:has(> input[type=checkbox]) {
    flex-direction: row;
    gap: 0.4em;
    align-items: center;
}
& input[type=checkbox] {
    appearance: none;
    width: 16px;
    height: 16px;
    margin: 0;
    background: white;
    border: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}
& input[type=checkbox]:checked::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
    background: #aaa;
}
& label:has(> input[type=checkbox]:not(:disabled)) { cursor: pointer; }

label:has(> :is(input, select):disabled) { opacity: 0.5 }

button {
    --background: #2d8261;
    --color: white;

    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    background: var(--background);
    color: var(--color);
}
button.secondary {
    --background: #ddd;
    --color: black;
}
button.insist {
    filter: invert(100%);
    transform: scale(1.1);
    transition: filter 0.2s ease, transform 0.1s ease;
}
button:not(:disabled):hover { background: color-mix(in srgb, var(--background) 90%, black); }

#log {
    position: fixed;
    left: 50%;
    top: 1em;
    width: calc(100vw - 2em);
    max-width: 600px;
    z-index: 99999;
    user-select: none;
    -webkit-user-select: none;
    font-size: 15px;
    transform: translateX(-50%);
}

#log > div {
    margin-bottom: 8px;
    padding: 8px;
    background: #373737;
    color: white;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
@media (hover: hover) {
    #log > div:hover { filter: opacity(40%); }
}
#log > div.error { background: #ff6600; }
#log > div.success { background: #2d8261; }

.playground {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    touch-action: none;
    user-select: none;

    & > canvas {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}

.config {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: start;
    padding: 0.5em 0.8em;
    background: #f8f8f8ee;
    border: 1px solid #dddddd;
    color: black;
    z-index: 2;

    & > .section + .section {
        display: flex;
        gap: 0.5em;
        border-left: 1px solid #ddd;
        padding-left: 0.8em;
    }
    & > .section:has(+ .section) { margin-right: 0.8em; }

    & label {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.4em;
    }

    & select { max-width: 260px; }
}

@media screen and (max-width: 960px) {
    .config {
        flex-direction: column;
        align-items: end;
        gap: 0.5em;
    }

    .section {
        flex-direction: column;

        border-left: none !important;
        padding-left: !important;
        margin-right: 0 !important;
    }
}

dialog {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 44px;
    display: flex;
    align-items: start;
    justify-content: center;
    background: #ffffffcc;
    border: none;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    & > form {
        background-color: white;
        border: 1px solid #ededf0;
        border-radius: 6px;
        max-width: 80%;
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
}
dialog ~ .dialog { padding-top: 66px; }

form {
    & > .title {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 9999;
        font-weight: bold;
        border-bottom: 1px solid #ededf0;
        background: #eee;
        padding: 10px;
        align-items: center;
        justify-content: center;
        gap: 0.71em;

        & > span {
            padding-left: 5px;
            flex: 1;
        }
        & > span + button { margin-left: 50px; }
    }
    & > .main {
        display: flex;
        box-sizing: border-box;
        max-width: 100%;
        flex-direction: column;
        gap: 0.71em;
        overflow-y: auto;
        padding: 16px;
    }
    & > .footer {
        display: flex;
        position: sticky;
        bottom: 0;
        z-index: 9999;
        border-top: 1px solid #ededf0;
        background: #eee;
        padding: 10px;
        align-items: center;
        justify-content: right;
        gap: 0.71em;
    }

    & .section {
        display: flex;
        margin-bottom: 6px;
        padding-bottom: 6px;
        font-weight: bold;
        color: #525461;
        text-align: left;
        border-bottom: 1px solid #ededf0;
        align-items: end;
    }
    & * + .section { margin-top: 12px; }

    & :is(label:not([for]), .widget) {
        display: flex;
        gap: 0.43em;

        & > :is(span, label):first-child { width: 180px; }
    }
    & :is(label:not([for]), .widget):empty { display: none; }
}

.shortcuts {
    border-collapse: collapse;

    & :is(th, td) {
        padding: 0.6em;
        font-size: 0.9em;
        text-align: left;
    }
    & th { font-weight: normal; }
    & td { font-style: italic; }

    & tr:nth-child(2n + 1) { background: #fafafa; }
    & tr:nth-child(2n) { background: #fdfdfd; }
}
