/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background: white;
}

a {
    cursor: pointer;
    color: var(--color, #05082e);
    text-decoration: underline;
}
a:hover { color: var(--color, #0d114a); }

.tag {
    display: inline-block;
    margin: 1px 0;
    padding: 1px 5px;
    border-radius: 4px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
}

.sub {
    font-size: 0.8em;
    font-weight: normal;
    text-transform: none;
    font-variant: normal;
    color: var(--color, #888);
    vertical-align: 1px;
}

#menu {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    --background: white;
    background: var(--background, white);
    pointer-events: auto;
    cursor: default;
    z-index: 2;
}
#menu.admin {
    --background: black;
    color: white;
    --color: white;
}
#menu.admin > fielset { background: black; }
#menu.admin img { filter: invert(100%); }

#search { padding: 10px; }
#search > label {
    display: flex;
    gap: 10px;
}
#search > label > input {
    width: 300px;
    padding: 4px 6px;
}

#suggestions {
    position: absolute;
    margin-top: 6px;
    z-index: 9999;
    border: 1px solid #ddd;
}
#suggestions:not(:empty) {
    padding-top: 6px;
    background: var(--background, white);
    padding: 12px;
}
#suggestions > a {
    display: block;
    margin-top: 4px;
}

#filters {
    display: flex;
    padding: 0 10px;
}
#filters > fieldset {
    position: relative;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: right;
}
#filters legend {
    font-weight: bold;
    padding: 12px;
}
#filters .toggle {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 0.8em;
    text-align: center;
}
#filters label {
    display: block;
    white-space: nowrap;
}
#filters label > img { vertical-align: middle; }
#filters .prec {
    padding-left: 24px;
    font-size: 0.9em;
    font-style: italic;
}
#filters > fieldset > div {
    display: none;
    position: absolute;
}
#filters > fieldset:hover legend { text-decoration: underline; }
#filters > fieldset:hover > div {
    display: flex;
    flex-direction: column;
    background: var(--background, white);
    padding: 12px;
    min-width: 160px;
}
#count {
    padding: 12px 20px 12px 0;
    text-align: center;
    filter: opacity(80%);
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
#map_zoom {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 2em;
    z-index: 2;
}
#map_zoom > button {
    padding: 0 0.4em 0 0.4em;
    border-radius: 50%;
    color: black;
}
.map_box {
    position: absolute;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 0.9em;
    z-index: 2;
}
.map_box.attribution {
    right: 10px;
    bottom: 10px;
    background: #cdcdcdbb;
}
.map_box.error {
    right: 10px;
    bottom: 46px;
    background: #de0a0abb;
    --color: white;
}

.planning_tip {
    text-align: center;
    color: #999;
    font-size: 0.9em;
}
.planning {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.planning tr.closed { color: #999; }
.planning tr:nth-child(2n) { background: #fefefe; }
.planning tr:nth-child(2n + 1) { background: #f8f8f8; }
.planning td {
    padding: 3px 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#admin { padding: 10px; }
.iframe #admin { display: none; }

#log {
    position: fixed;
    left: calc(50% - 160px);
    top: calc(2.8em + 12px);
    z-index: 99999;
    width: 320px;
    user-select: none;
    -webkit-user-select: none;
}

#log > div {
    margin-bottom: 8px;
    padding: 8px;
    background: #373737;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px #00000033;
    text-align: center;
    cursor: pointer;
}
@media (hover: hover) {
    #log > div:hover { filter: opacity(40%); }
}
#log > div.error { background: #db0a0a; }
#log > div.success { background: #2d8261; }

.log_close {
    float: right;
    padding: 2px 6px;
    background: none;
    border: 0;
    color: white;
    font-weight: bold;
}
.log_close:hover { background: none !important; }

/* Came from https://loading.io/css/ */
.log_spin {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: -1px 0 0 -1px;
}
.log_spin::after {
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid white;
    border-color: white transparent white transparent;
    animation: log_spin 0.8s ease-in-out infinite;
}
@keyframes log_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button {
    padding: 0.21em 0.71em 0.28em 0.71em;
    background: #76b35a;
    border: 1px solid #76b35a;
    border-radius: 3px;
    color: white;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
}
button::-moz-focus-inner { border: 0; }
button > img {
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    /* Turn image to white, filter calculated here: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(243deg) brightness(104%) contrast(101%);
}
button:not(:disabled):not(.active):hover { filter: brightness(80%) contrast(150%); }
button.secondary {
    background: #ddd;
    border: 1px solid #ddd;
    color: black;
}
button.secondary:not(.insist) > img { filter: none; }
button.danger {
    background: #d33410;
    border-color: #d33410;
    --color: white;
    color: var(--color);
}
button.insist {
    background: #d33410 !important;
    border-color: #d33410 !important;
    --color: white;
    color: var(--color) !important;
    transition: --color 0.2s ease, background 0.2s ease, border-color 0.2s ease;
}
button.small {
    background: #ddd;
    border: 1px solid #ddd;
    color: black;
    font-size: 0.7em;
}
button.small > img {
    top: 2px;
    width: 12px;
    height: 12px;
}
button.small:not(.insist) > img { filter: none; }
button.active { filter: invert(100%); }
button:disabled {
    filter: saturate(0%);
    cursor: not-allowed;
}

.busy {
    position: relative;
    cursor: wait !important;
}
button.busy {
    opacity: 0.5 !important;
    color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
}
button.busy::after {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid white;
    border-color: white transparent white transparent;
    animation: busy_spin 0.8s ease-in-out infinite;
}
@keyframes busy_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

hr {
    margin: 4px auto;
    width: 90%;
    border: none;
    border-bottom: 1px solid #ededf0;
}

input, textarea {
    padding: 4px 5px;
    background: white;
    border: 1px solid #ededf0;
    border-width: 0.5px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 0.94em;
}
input[type=number] { width: 6em; }
label:has(input[type=checkbox]), label:has(input[type=radio]) { cursor: pointer; }
input[type=checkbox], input[type=radio] { cursor: pointer; }
input[type=file] { border: none; }
input:invalid {
    background-color: #f9e4df !important;
    border-color: #d33410 !important;
    outline: 1px solid #d33410 !important;
    color: #d33410 !important;
}
input:disabled { background-color: #eee; }

select {
    padding: 3px 26px 3px 6px;
    border: 1px solid #ededf0;
    border-width: 0.5px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAYAAAB7/H1+AAAA+UlEQVQokdXQsUeFYRTH8XOjSMMlEUlLWi6RqKGhqaGppX/o93vOeV7P4309Q0O8RFNDLw1NDW3pn4iGiERFbtT4Nj1cSbrdu/TlLGf4OI7IvyzGuAjghuR1jHEh79u2nfgyHRGRsixnAJwCePLer/2IhxCWSN6SvPLez3+Dd0REUkrTAE4AvDjnNn51uaouk7wDcFlV1dwAPogek3w1s61hviKqugLgHsBFSmk275ummSJ5RLJvZttDobmiKHokHwCchxC6dV1PkjwE8KaqO39Cc865VZKPAM5IHpB8V9XdkdCc936d5DOAD1XdGwuaM7NNkvtjRUfpEypChFloulwwAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: inherit;
    font-size: 0.94em;
}
select:not(:disabled):hover {
    background: #79a63a;
    border-color: #79a63a;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAYAAAB7/H1+AAABOUlEQVQoU2NkoBFgpJG5DGCDnzx5IsPIyLgXiF//+fMnTE5O7hnUQiY0i/8D+f9fvHjB/ffv33lA9U7//v1zlZGRuYDuQLiLnz17JgeU3AfEz5iZmUPFxcVfohkONvTx48ecQPk5////92BiYvKQlJQ8jc3XKEHx8uVLZaBL9gI13Qa6JlJKSuoNVBNIHdhQoGHTgHKBQDVe0tLSx3AFJUYYv3r1SvX379/7gJqvAC2JlpWVfQfSfPXqVTZBQcFpQGYYEPsALT2EL36wRt7z58+1gC7aA8SnOTk544AGfgOKTQQaFAsUCwS6dA+hSMeZKoARpAuMmN1AA44CXf8UyE4B0kFAl+4gZChIHm9yA0aoEdCFu4DquIE4HOjSTcQYStBgkAJgEJgBDZcFunQtsYYSZTAphiGrBQBoCXwMooaZrwAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}
select:disabled { background-color: #eee; }

form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    background: #76b35a;
    padding: 28px 16px 16px 16px;
    background: white;
    border-radius: 6px;
    box-shadow: #15172526 0px 15px 25px 0px,
                #15172520 0px 2px 8px 0px;
    gap: 0.71em;

    & fieldset {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.71em;
        padding: 10px 12px;
        background: #f8f8f8;
        border: none;
        border-radius: 4px;
    }
    & fieldset:disabled > * { opacity: 0.2; }

    & label {
        display: flex;
        gap: 0.43em;
        align-items: center;
        height: 2em;
        white-space: nowrap;
    }
    & label > span:first-child { width: 180px; }
    & label > input:not([type=checkbox]):not([type=radio]), form label > select { flex: 1; }
    & * + label { margin-top: 1em; }
    & label:empty { display: none; }

    & input[type=text], form input[type=password], form select { width: 90%; }

    & > .title {
        display: flex;
        position: sticky;
        top: -28px;
        z-index: 9999;
        margin: -28px -16px 8px -16px;
        font-weight: bold;
        border-bottom: 1px solid #ededf0;
        border-radius: 6px 6px 0 0;
        background: #eee;
        padding: 10px;
        align-items: center;
        justify-content: center;
        gap: 0.71em;
    }
    & > .title > span {
        padding-left: 5px;
        flex: 1;
    }
    & > .title > span + button { margin-left: 50px; }
    & > .footer {
        display: flex;
        position: sticky;
        bottom: -16px;
        z-index: 9999;
        margin: 8px -16px -16px -16px;
        border-bottom: 1px solid #ededf0;
        border-radius: 0 0 6px 6px;
        background: #eee;
        padding: 10px;
        align-items: center;
        justify-content: right;
        gap: 0.71em;
    }
}

dialog {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffffcc;
    backdrop-filter: blur(4px);

    & > form {
        background-color: white;
        max-height: 80vh;
        overflow-y: auto;
    }
    & > form div.info {
        display: flex;
        width: 656px;
    }
    & > form div.info > div {
        padding: 8px;
        width: 320px;
        flex-wrap: wrap;
    }
}
dialog.screen { background: #76b35a; }

@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 1.3;
    }

    #menu {
        flex-direction: column;
        align-items: center;
    }

    #suggestions { width: 100vw; }

    #filters { gap: 50px; }
    #filters > fieldset { justify-content: center; }
    #filters legend { padding: 6px; }
    #count { display: none; }

    .map_box.error { bottom: 40px; }

    .dialog > form div.info {
        flex-direction: column;
        max-width: 100%;
        box-sizing: border-box;
    }
    .dialog > form div.info > div { width: auto; }
}

@media (max-width: 581px) {
    #filters { gap: 0px; }
}
