/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

@import url('../../../src/core/web/flat/flat.css');
@import url('../../../vendor/highlight.js/styles/base16/tomorrow.css');

html {
    --top_color: #1c9b72;
    --button_color: #1c9b72;
    --anchor_color: #1c9b72;
}
