/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

@import url('../map.css');

#count { display: none; }

#filters > .group {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 6px;
}
#filters > .group > label + label {
    padding-left: 6px;
    border-left: 1px solid #eee;
}
