[Desktop Entry]
Name=TyUploader
Comment=GUI tool to flash Teensy devices
TryExec=tyuploader
Icon=tyuploader
Exec=tyuploader
Terminal=false
Type=Application
Categories=Development;
