#cm_cmds {
    width: 100%;
    border: 1px solid #a4a4a4;
    border-collapse: collapse;
}
#cm_cmds td {
    text-align: center;
    color: #ccc;
}
#cm_cmds a {
    color: black;
    text-decoration: none;
}

#cm_roots {
    margin-top: 1em;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#cm_roots thead { background: #ccc; }
#cm_roots tbody { background: #fafafa; }
#cm_roots th, #cm_roots td {
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 64px;
}
#cm_roots th {
    text-align: center;
    font-weight: bold;
}

#cm_ghs {
    width: 100%;
    border-collapse: collapse;
}
#cm_ghs th, #cm_ghs td {
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 60px;
    height: 1em;
}
#cm_ghs th {
    background: white;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}
#cm_ghs thead td {
    text-align: center;
    font-weight: bold;
}
#cm_ghs tbody td {
    background: #969696;
    text-align: center;
}
#cm_ghs .desc { background: #ffc634; }
#cm_ghs .conditions {
    background: #b70202;
    color: white;
}
#cm_ghs .price { background: #68dc33; }
#cm_ghs .exb { background: #ff8900; }
#cm_ghs .exh {
    background: #6b1b6a;
    color: #b4cdff;
}
#cm_ghs .age { background: #99ffff; }

@media screen and (min-width: 801px) {
    #cm_ghs tr:hover th {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    #cm_ghs tr:hover td {
        filter: invert(10%);
        -webkit-filter: invert(10%);
    }
    #cm_ghs th:first-child { width: 90px; }
    #cm_ghs .repeat, #cm_ghs .ghm_root { display: none; }
}

@media screen and (max-width: 800px) {
    #cm_ghs th, #cm_ghs td { border: 0; }

    #cm_ghs th:not(.repeat) { display: none; }
    #cm_ghs th.repeat {
        text-align: center;
        font-size: 0.8em;
        padding: 1px 0;
    }
}
