#cm_cmds {
    width: 100%;
    border: 1px solid #a4a4a4;
    border-collapse: collapse;
}
#cm_cmds td {
    text-align: center;
    color: #ccc;
}
#cm_cmds a {
    color: black;
    text-decoration: none;
}

#cm_roots {
    margin-top: 1em;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#cm_roots thead { background: #ccc; }
#cm_roots tbody { background: #fafafa; }
#cm_roots th, #cm_roots td {
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 64px;
}
#cm_roots th {
    text-align: center;
    font-weight: bold;
}
