/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#cm_cmds {
    width: 100%;
    border-collapse: collapse;
}
#cm_cmds td {
    text-align: center;
    color: #ccc;
}
#cm_cmds a {
    color: black;
    text-decoration: none;
}

#cm_summary td:nth-child(2n+1):not(:first-child) {
    border-left: 0;
    color: #888;
}
#cm_summary td:nth-child(2n) {
    text-align: right;
    border-right: 0;
}

@media screen and (min-width: 801px) {
    #cm_cmds { margin-bottom: 1em; }
    #cm_cmds td { border: 1px solid #a4a4a4; }
}

@media screen and (max-width: 800px) {
    #cm_cmds { margin: 0; }
    #cm_cmds td {
        border-left: 1px solid #a4a4a4;
        border-right: 1px solid #a4a4a4;
    }
}
