/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: Geneva, sans-serif;
    font-size: 13px;
}
#side_bar { background: #eeeeee; }

/* Common tags */
a {
    color: #ed6d0a;
    text-decoration: none;
    font-weight: bold;
}

/* Side bar */
#side_menu ul {
    margin: 0;
    padding: 0;
}
#side_menu li { list-style-type: none; }
#side_menu li a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: black;
}
#side_menu li a:not(.category) { font-weight: normal; }
#side_menu li a.active {
    background: #262626;
    color: white;
}
#logo {
    display: block;
    margin: 1em auto;
}

/* Top page-specific menu */
#opt_menu {
    margin: 0 1em 1em 1em;
    text-align: center;
}
#opt_menu label { text-align: left; }
#opt_menu h1 {
    margin: 0.5em 3px 0 3px;
    font-size: 1.1em;
}

/* Forms */
form {
    width: 400px;
    max-width: 400px;
}
form label {
    display: block;
    clear: both;
    margin: 0 0 15px 0;
}
form input, form textarea, form select { float: right; }
form button, form input[type=submit] {
    display: block;
    margin: 0 auto;
}

/* Utility */
.hide { display: none !important; }
.busy {
    animation: busy 1s 1;
    filter: grayscale(100%) opacity(50%);
}
@keyframes busy {
    0% { filter: grayscale(0) opacity(100%); }
    100% { filter: grayscale(100%) opacity(50%); }
}
#log { color: red; }

/* Indexes line (svg) */
.indexes_line {
    width: 100%;
    height: 50px;
}

@media screen and (min-width: 801px) {
    /* Global */
    main {
        max-width: 800px;
        margin-left: 200px;
        padding: 1em;
    }

    /* Utility */
    a.deploy { display: none; }

    /* Side bar */
    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
        width: 200px;
    }
    #side_menu li a { padding: 0.5em 0.5em 0.5em 2em; }
    #side_menu li a.category { padding-left: 0.5em; }
    #side_menu li a:hover:not(.active) {
        background: #ddd !important;
        color: black !important;
    }
    #side_user_box {
        padding: 8px 2px 0 2px;
        text-align: center;
        font-size: 0.7em;
    }
    #side_user_menu { display: none; }
}

@media screen and (max-width: 800px) {
    /* Global */
    body {
        padding: 0;
        margin: 0;
    }
    main { padding-top: 40px; }

    /* Forms */
    form {
        box-sizing: border-box;
        width: 100%;
        margin: 5px auto 0 auto;
        padding: 0 5px;
    }

    /* Utility */
    a.deploy {
        display: block;
        float: left;
        width: 42px;
        height: 40px;
        margin: 0;
        padding: 0;
        background-color: #262626;
        background-image: url("data:image/gif;base64,R0lGODlhFgAWAIABAP///wAAACH5BAEKAAEALAAAAAAWABYAAAIfhI+py+0PXZi02ouz3rz7b0XiSJYRiKbqyobmC8dNAQA7");
        background-repeat: no-repeat;
        background-position: center;
    }

    /* Side bar */
    #logo { display: none; }
    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        min-height: 40px;
        background: #262626;
        z-index: 10;
    }
    #side_menu li a {
        display: none;
        height: 40px;
        padding: 10px 10px 10px 52px;
        color: white;
        font-style: italic;
        font-size: 16px;
    }
    #side_menu li a.category { font-style: normal; }
    #side_menu li a.active {
        display: block;
        font-style: normal;
    }
    #side_menu.active li a { display: block; }
    #side_user_box { display: none; }

    /* Top page-specific menu */
    #opt_menu {
        display: none;
        position: fixed;
        left: 0;
        top: 40px;
        box-sizing: border-box;
        width: 100vw;
        padding: 1em;
        margin: 0;
        background: #eeeeee;
        z-index: 1;
    }
    #opt_menu.active { display: block; }
    #opt_deploy {
        position: fixed;
        top: 0;
        left: calc(100vw - 42px);
        z-index: 20;
    }
    #opt_menu input, #opt_menu select { float: right; }
    #opt_menu > label {
        display: block;
        clear: both;
        padding-top: 5px;
        text-align: left;
    }
}
