/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: Geneva, sans-serif;
    font-size: 13px;
}
#side_bar { background: #eeeeee; }

/* Side bar */
#side_menu ul {
    margin: 0;
    padding: 0;
}
#side_menu li { list-style-type: none; }
#side_menu a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: black;
}
#side_menu a.category { font-weight: bold; }
#side_menu a.active {
    background: #262626;
    color: white;
}
#main_menu a:hover:not(.active) {
    background: #ddd !important;
    color: black !important;
}
#logo {
    display: block;
    margin: 1em auto;
}

/* Top page-specific menu */
.page_menu {
    margin: 0 1em 1em 1em;
    text-align: center;
}
.page_menu h1 {
    margin: 0.5em 3px 0 3px;
    font-size: 1.1em;
}

/* Utility */
.hide:not(.active) { display: none !important; }
.page:not(.active) { display: none !important; }
.log { color: red; }
.outdated {
    animation: outdated 1s 1;
    filter: grayscale(100%) opacity(50%);
}
@keyframes outdated {
    0% { filter: grayscale(0) opacity(100%); }
    100% { filter: grayscale(100%) opacity(50%); }
}

@media screen and (min-width: 801px) {
    /* Global */
    main {
        max-width: 800px;
        margin-left: 200px;
        padding: 1em;
    }

    /* Utility */
    a.deploy { display: none; }

    /* Side bar */
    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
        width: 200px;
    }
    #side_menu a { padding: 0.5em 0.5em 0.5em 2em; }
    #side_menu a.category { padding-left: 0.5em; }

    /* Top page-specific menu */
    .page_menu { line-height: 2em; };
}

@media screen and (max-width: 800px) {
    /* Global */
    body {
        padding: 0;
        margin: 0;
    }
    main { padding-top: 40px; }

    /* Utility */
    a.deploy {
        display: block;
        float: left;
        width: 42px;
        height: 40px;
        margin: 0;
        padding: 0;
        background-color: #262626;
        background-image: url("data:image/gif;base64,R0lGODlhFgAWAIABAP///wAAACH5BAEKAAEALAAAAAAWABYAAAIfhI+py+0PXZi02ouz3rz7b0XiSJYRiKbqyobmC8dNAQA7");
        background-repeat: no-repeat;
        background-position: center;
    }

    /* Side bar */
    #logo { display: none; }
    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        min-height: 40px;
        background: #262626;
        z-index: 10;
    }
    #side_menu a {
        display: none;
        height: 40px;
        padding: 10px 10px 10px 52px;
        color: white;
        font-style: italic;
        font-size: 16px;
    }
    #side_menu a.category { font-style: normal; }
    #side_menu a.active {
        display: block;
        font-style: normal;
    }
    #side_menu.active a { display: block; }

    /* Top page-specific menu */
    .page_menu {
        display: none;
        position: fixed;
        left: 0;
        top: 40px;
        box-sizing: border-box;
        width: 100vw;
        padding: 1em;
        margin: 0;
        background: #eeeeee;
        z-index: 1;
    }
    .page_menu.active { display: block; }
    a.page_deploy {
        position: fixed;
        top: 0;
        left: calc(100vw - 42px);
        z-index: 20;
    }
    .page_menu input, .page_menu select { float: right; }
    .page_menu label {
        display: block;
        clear: both;
        padding-top: 5px;
        text-align: left;
    }
}
