#ls h1 {
    font-size: 1.3em;
    text-align: center;
}

.ls_pages {
    margin: 0.5em auto;
    text-align: center;
    font-size: 1.1em;
    table-layout: fixed;
}
.ls_pages td {
    width: 28px;
    vertical-align: bottom;
}

#ls_stats {
    margin: 3px;
    font-size: 0.9em;
    font-style: italic;
    color: #777;
}

.ls_table {
    width: 100%;
    border-collapse: collapse;
}
.ls_table th, .ls_table td {
    min-width: 60px;
    max-width: 260px;
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ls_table thead { background: #ccc; }
.ls_table tbody { background: #fafafa; }
.ls_table th {
    text-align: center;
    font-weight: bold;
}
.ls_table tr.heading { background: #eee; }

#ls_diagnoses td:nth-child(2) { text-align: center; }

@media screen and (min-width: 800px) {
    #ls_procedures td:first-child { min-width: 70%; }
    #ls_diagnoses td:first-child { min-width: 70%; }
}

@media screen and (max-width: 800px) {
    #ls_tree { font-size: 0.9em; }
    #ls_tree ul { padding-left: 30px; }

    .ls_table th, .ls_table td {
        font-size: 0.8em;
        border: 0;
    }

    .ls_table td { box-sizing: border-box; }
    #ls_ghm_roots td:first-child, #ls_procedures td:first-child { min-width: 100vw; }
    #ls_diagnoses td:first-child { min-width: 85vw; }
    #ls_diagnoses td:nth-child(2) { min-width: 15vw; }
}
