#pricing_table {
    width: 100%;
    border-collapse: collapse;
}
#pricing_table th, #pricing_table td {
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 60px;
    height: 1em;
}
#pricing_table th {
    background: white;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}
#pricing_table thead td {
    text-align: center;
    font-weight: bold;
}
#pricing_table tbody td {
    background: #969696;
    text-align: right;
}
#pricing_table .desc { background: #ffc634; }
#pricing_table .conditions {
    background: #b70202;
    color: white;
}
#pricing_table .price { background: #68dc33; }
#pricing_table .exb { background: #ff8900; }
#pricing_table .exh {
    background: #6b1b6a;
    color: #b4cdff;
}
#pricing_table .warn {
    filter: grayscale(90%) !important;
    color: #555;
}
#pricing_table .warn:before { content: "⚠ "; }
#pricing_table .lower { background: #ff8888; }
#pricing_table .higher { background: #a2d4b6; }
#pricing_table .neutral { background: #d7d7d7; }
#pricing_table .removed { background: #ff8888; }
#pricing_table .removed:after { content: '*'; }
#pricing_table .added { background: #a2d4b6; }
#pricing_table .added:after { content: '*'; }
#pricing_table .age { background: #99ffff; }

@media screen and (min-width: 801px) {
    #pricing_table tr:hover th {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    #pricing_table tr:hover td {
        filter: invert(10%);
        -webkit-filter: invert(10%);
    }
    #pricing_table th:first-child { width: 90px; }
    #pricing_table th.repeat { display: none; }
}

@media screen and (max-width: 800px) {
    #pricing_table th, #pricing_table td { border: 0; }

    #pricing_table th:not(.repeat) { display: none; }
    #pricing_table th.repeat {
        text-align: center;
        font-size: 0.8em;
        padding: 1px 0;
    }
}
