/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tsel {
    display: inline-block;
    min-width: 14em;
    margin: 2px;
    vertical-align: middle;
    background: white;
    border: 1px solid #a4a4a4;
    text-align: left;
}
.tsel_main {
    position: relative;
    height: 24px;
}

.tsel_summary {
    width: calc(100% - 6px);
    height: 24px;
    padding: 4px 0 4px 4px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAAQUlEQVQokWNgoBKYycDA8J9EPJMSQzA0w8BESjTDQCsezTMIaYaBUiyae4jVDAOZSJrrSNUMA2kMDAz55GomCgAAnesxP7DwQQ0AAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: right 7px;
    overflow: hidden;
}
.tsel_summary a {
    display: inline-block;
    padding-right: 6px;
    color: black;
    font-weight: normal;
    font-style: italic;
}

.tsel_view { display: none; }
.tsel_list {
    overflow-x: hidden;
    overflow-y: scroll;
}
.tsel.active .tsel_view { display: block; }

.tsel_list > label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tsel_list > label:hover { background: #ddd; }
.tsel_group { font-weight: bold; }
.tsel_option.disabled {
    pointer-events: none;
    filter: opacity(50%);
}

@media screen and (min-width: 801px) {
    .tsel_view {
        position: absolute;
        top: 25px;
        left: -1px;
        margin: 0;
        width: 100%;
        z-index: 100;
        background: white;
        border: 1px solid #a4a4a4;
        border-top: 0;
    }
    .tsel_list {
        height: 100%;
        max-height: 300px;
    }

    .tsel_validate { display: none; }
}

@media screen and (max-width: 800px) {
    .tsel_view {
        position: fixed;
        top: 50px;
        left: 10px;
        width: calc(100vw - 20px);
        height: calc(100vh - 100px);
        z-index: 100;
        background: white;
        border: 1px solid #a4a4a4;
    }

    .tsel_list {
        height: calc(100% - 30px);
        padding: 2px;
    }
    .tsel_validate {
        display: block;
        position: fixed;
        top: calc(100vh - 77px);
        left: 9px;
        width: calc(100vw - 16px);
        height: 30px;
    }

    .tsel_list > label { padding: 3px 0; }
}
