/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.vlin_line {
    stroke: #888;
    stroke-width: 1;
}

.vlin_node { cursor: pointer; }
.vlin_text { cursor: pointer; }
