*.sln
*.vcxproj*
*.target.mk

build
node_modules

/package-lock.json
/qemu/*.zst
/qemu/qemu/*
!/qemu/qemu/.gitkeep
/benchmark/atoi_cc
/benchmark/atoi_cc.exe
/benchmark/raylib_cc
/benchmark/raylib_cc.exe
/benchmark/raylib.dll
/benchmark/tmp
