/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html.admin {
    --menu_color: #ea6624;
    --page_color: #cb2c1b;

    --block_rounding: 0px;
    --widget_rounding: 0px;
}
