/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

html.admin {
    --menu_color: #ef6e30;
    --menu_color_n1: #f2783e;
    --menu_color_n2: #ff8244;
    --menu_color_n3: #fc864b;
    --page_color: #1d82bc;
    --page_color_n1: #2e94cf;
    --anchor_color: #24579d;
    --anchor_color_n1: #346bb8;
    --active_color: #1d82bc;
    --active_color_n1: #2e94cf;
    --many_color: #207358;
    --many_color_n1: #298a6a;

    --block_rounding: 0px;
    --widget_rounding: 0px;
    --button_rounding: 3px;
}
