/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Files -------------------- */

.sync_table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.sync_table thead { background: #dfdfdf; }
.sync_table thead th { text-align: left; }

.sync_table th, .sync_table td {
    padding: 3px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sync_table tbody tr:nth-child(2n + 1) { background: #efefef; }
.sync_table tbody tr:nth-child(2n) { background: #f4f4f4; }

.sync_actions { text-align: center; }
.sync_table a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}
.sync_table a + a { padding-left: 2px; }
.sync_table a.gray {
    color: #ccc;
}

.sync_path.overwrite {
    color: #d72a2a;
    font-style: italic;
}

.sync_size {
    color: #999;
    text-align: right;
    font-style: italic;
}
