/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Files -------------------- */

.sync_table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.sync_table thead { background: #dfdfdf; }
.sync_table thead th { text-align: left; }

.sync_table th, .sync_table td {
    padding: 3px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sync_table a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.sync_table tbody tr:nth-child(2n + 1) { background: white; }
.sync_table tbody tr:nth-child(2n) { background: #f4f4f4; }
.sync_table tbody tr.conflict { background: #f9e3e3; }
.sync_table tbody tr.action { background: none; }
.sync_table tbody tr.action th {
    border: none;
    font-weight: normal;
    text-align: left;
}

.sync_actions { text-align: center; }
.sync_actions > a { padding: 0 6px 1px 6px; }
.sync_actions > a.selected {
    background: #24579d;
    border-radius: 12px;
    color: white;
    pointer-events: none;
}

.sync_path.overwrite {
    color: red;
    font-style: italic;
}
.sync_path.delete {
    font-style: italic;
    text-decoration: line-through;
}
.sync_path.virtual { opacity: 0.25; }
.sync_path.none { opacity: 0; }

.sync_size {
    color: #999;
    text-align: right;
    font-style: italic;
}
.sync_conflict {
    font-style: normal;
    color: red;
}
