/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#dlg_modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(252, 252, 252, 0.96);
}
#dlg_modal.active { display: flex; }
#dlg_modal > form {
    display: block;
    position: absolute;
    width: 300px;
    max-width: 90%;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #e6e6e6;
}

#dlg_popup {
    display: none;
    position: fixed;
    box-sizing: border-box;
    padding: 8px;
    background: #f8f8f8;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px rgba(136, 136, 136, 0.12);
}
#dlg_popup.active { display: block; }
