/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout and basic elements -------------------- */

.fm_form {
    position: relative;
    margin-left: 1px;
}
.gp_panel.overview > .fm_form {
    max-width: 824px;
    margin: auto;
}
.fm_form + .fm_form {
    margin-top: 9px;
    padding-top: 9px;
    border-top: 1px solid #dfdfdf;
}

.fm_form a { color: #ff6600; }

.fm_form > .af_main {
    position: relative;
    padding: 12px 12px 12px 12px;
    background: #f6f6f6;
    border: 12px solid white;
}

@media (max-width: 580px) {
    .fm_form > .af_main {
        padding-bottom: 2px;
        border-left: 0;
        border-right: 0;
    }
    .fm_form > .af_main > :not(.af_section):last-child { margin-bottom: 10px; }
}

/* -------------------- Path and actions -------------------- */

.fm_id {
    position: absolute;
    display: flex;
    top: 14px;
    left: 14px;
    width: calc(100% - 28px);
    font-size: 11px;
    color: #777;
    z-index: 999;
    pointer-events: none;
}
.fm_id > span { pointer-events: auto; }

.fm_path {
    position: absolute;
    top: 12px;
    width: 100%;
    text-align: center;
    z-index: 9999;
    pointer-events: none;
}
.fm_path > a {
    position: relative;
    display: inline-block;
    height: 1.2em;
    padding: 4px 14px 6px 14px;
    background: white;
    border: 2px solid white;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    pointer-events: auto;
}
.fm_path > a + a { margin-left: 4px; }
.fm_path > a.active {
    background: #ff6600;
    border: 2px solid #ff6600;
    color: white;
}
.fm_path > a.blocked {
    background: #bbb;
    border-color: #bbb;
    color: #eee;
    cursor: not-allowed;
}
.fm_path > a.partial::before {
    padding-right: 4px;
    font-size: 0.9em;
    font-weight: bold;
    content: '✓\FE0E';
}
.fm_path > a.complete::before {
    padding-right: 4px;
    font-size: 0.9em;
    font-weight: bold;
    content: '✓\FE0E✓\FE0E';
}
.fm_path > a:not(.blocked):hover { border-color: #ff6600; }
.fm_path > a:focus {
    outline: 2px dotted #999;
    outline-offset: 1px;
}

.fm_path + .af_main {
    padding-top: 24px;
    border-top-width: 32px;
}
.fm_form > .af_actions {
    margin-top: 12px;
    margin-bottom: 12px;
}

@media screen and (max-width: 580px) {
    .fm_id { display: none; }
}

@media (min-width: 1061px) {
    .gp_panel.overview .fm_form > .af_actions.float {
        position: fixed;
        display: inline-block;
        left: calc(50% + 406px);
        top: 32px;
        width: auto;
        margin-top: 0;
        z-index: 999;
    }
    .gp_panel.overview .fm_form > .af_actions.float > * + * { margin: 4px 0; }
    .gp_panel.overview .fm_form > .af_actions.float > hr { margin: 8px; }
    #gp_menu + main .gp_panel.overview .fm_form > .af_actions.float { top: calc(2.5em + 32px); }
    .gp_panel.overview .fm_form > .af_actions.float > button { width: 9em; }
}

/* -------------------- Audit trail -------------------- */

.tr_table {
    width: 300px;
    border-collapse: collapse;
    border: 0;
}
.tr_table tr { background: white; }
.tr_table tr.selected {
    background: #666;
    color: white;
}
.tr_table td {
    padding: 3px;
    border: 1px solid #dfdfdf;
    text-align: center;
    color: inherit;
}
.tr_table a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

/* -------------------- Status -------------------- */

.st_table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.st_table thead { background: #dfdfdf; }
.st_table th { font-weight: normal; }

.st_table th, .st_table td {
    height: 1.7em;
    padding: 3px;
    border: 1px solid #dfdfdf;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.st_table td:first-child { border-left: 0; }
.st_table td:last-child { border-right: 0; }

.st_table tbody tr:nth-child(2n + 1) { background: white; }
.st_table tbody tr:nth-child(2n) { background: #f4f4f4; }
.st_table tbody tr.selected td, .st_table tbody tr.selected th {
    background: #666;
    color: white;
}

.st_table a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.st_table td.id {
    text-align: center;
    color: #666;
}
.st_table td.none > a {
    font-style: italic;
    color: #cbcbcb;
}
.st_table td.partial::before {
    padding-right: 4px;
    font-size: 0.9em;
    font-weight: bold;
    color: #ff6600;
    content: '✓\FE0E';
}
.st_table td.complete::before {
    padding-right: 4px;
    font-size: 0.9em;
    font-weight: bold;
    color: #289c52;
    content: '✓\FE0E✓\FE0E';
}

/* -------------------- Data -------------------- */

.rec_table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.rec_table input[type=checkbox] {
    vertical-align: middle;
    margin: 0 5px 0 5px;
}

.rec_table thead { background: #dfdfdf; }
.rec_table thead th { font-weight: normal; }
.rec_page {
    font-style: italic;
    background: linear-gradient(black, black) bottom/ calc(100% - 24px) 1px no-repeat;
}

.rec_table th, .rec_table td {
    height: 1.7em;
    padding: 3px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rec_table td:first-child { border-left: 0; }
.rec_table td:last-child { border-right: 0; }

.rec_table tbody tr:nth-child(2n + 1) { background: white; }
.rec_table tbody tr:nth-child(2n) { background: #f4f4f4; }
.rec_table tbody tr.selected td, .rec_table tbody tr.selected th {
    background: #666;
    color: white;
}

.rec_table a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.rec_table td.id {
    text-align: center;
    color: #666;
}
.rec_table td.number { text-align: right; }
.rec_table td.missing {
    text-align: center;
    font-style: italic;
    color: #cbcbcb;
}
