/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Form layout -------------------- */

.af_page {
    padding: 12px;
    background: #efefef;
}
.gp_panel.overview > .af_page {
    max-width: 800px;
    border: 12px solid #f8f8f8;
    margin: auto;
}

.af_widget + .af_container,
    .af_container + .af_container,
    .af_container + .af_widget { margin-top: 12px; }
.af_widget + .af_widget { margin-top: 6px; }

.af_entry { padding: 5px 0; }
.af_entry + .af_entry { border-top: 1px solid #dfdfdf; }

/* -------------------- Data -------------------- */

.rec_table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.rec_table thead { background: #dfdfdf; }
.rec_actions { width: 2.5em; }

.rec_table th, .rec_table td {
    padding: 3px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rec_table td:first-child { border-left: 0; }
.rec_table td:last-child { border-right: 0; }

.rec_table thead th {
    font-weight: normal;
    font-style: italic;
}

.rec_table tbody tr:nth-child(2n + 1) { background: #efefef; }
.rec_table tbody tr:nth-child(2n) { background: #f4f4f4; }
.rec_table tbody tr.selected {
    background: #666;
    color: white;
}

.rec_table a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.rec_table td.number { text-align: right; }
.rec_table td.missing {
    text-align: center;
    font-style: italic;
    color: #cbcbcb;
}
