/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Containers -------------------- */

.af_tabs > .af_section {
    margin-top: -10px;
    padding-top: 16px;
}
.af_tabs > .af_button {
    position: relative;
    z-index: 999;
}
.af_tabs > .af_button:first-of-type { margin-left: 10px; }
.af_tabs > .af_button:last-of-type { margin-right: 10px; }

.af_section {
    position: relative;
    min-height: 24px;
    margin: 0;
    padding: 10px;
    background: rgba(136, 136, 136, 0.06);
    border: 0;
    box-shadow: 2px 2px rgba(136, 136, 136, 0.12);
}
.af_section > legend {
    padding: 1px 0.7em;
    background: #de6a1d;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}
.af_deploy {
    display: block;
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
}

.af_section.error {
    background: #f9e3e3;
    border: 1px dashed #d72a2a;
    padding: 5px 10px;
}
.af_section.error > legend {
    background: #d72a2a;
    margin-left: -5px;
}

@media (max-width: 580px) {
    .af_section {
        margin-left: -12px;
        margin-right: -12px;
        padding-top: calc(2em + 6px);
        background: rgba(136, 136, 136, 0.03);
        box-shadow: none;
    }
    .af_section > legend {
        display: block;
        position: absolute;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
        padding: 3px 0.7em;
    }

    .af_section + .af_section { margin-top: 0; }
}

/* -------------------- Widgets -------------------- */

.af_widget { position: relative; }
.af_widget > label {
    display: block;
    margin-bottom: 6px;
    padding-top: 4px;
    color: #303030;
}
.af_widget.mandatory > label:after {
    content: ' *';
    color: #d72a2a;
}
.af_widget.error {
    background: #f9e3e3;
    outline: 3px solid #f9e3e3;
    color: #d72a2a;
}
.af_widget.error:before {
    position: absolute;
    left: -22px;
    top: calc(50% - 11px);
    z-index: 999;
    color: #d72a2a;
    content: "⚠\FE0E";
    font-size: 1.4em;
}
.af_widget.disable {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.af_error {
    padding: 4px 0 3px 0;
    font-style: italic;
}
.af_help {
    font-size: 0.85em;
    font-style: italic;
    margin: 2px 0 0 20px;
}
.af_help:before { content: '☞\FE0E  '; }
.af_prefix, .af_suffix {
    margin-left: 4px;
    padding-top: 5px;
    font-size: 0.85em;
}

@media screen and (min-width: 581px) {
    .af_widget.compact {
        flex: 1;
        display: flex;
        align-items: start;
    }
    .af_widget.compact > label {
        width: 250px;
        min-width: 250px;
        margin-bottom: 0;
    }
    .af_widget.compact .af_error {
        flex: 1;
        text-align: right;
    }
}

/* -------------------- Simple widgets -------------------- */

.af_input {
    max-width: 100%;
    padding: 3px 2px;
    border: 1px solid #ccc;
    border-width: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.af_enum, .af_radio, .af_multi { display: inline-block; }
.af_radio, .af_multi { padding-top: 3px; }
.af_select {
    /* This width: 100% is combined with an outer div set to max-width: 100% so that
       long options don't wreak havoc. Setting max-width: 100% here does not work correctly. */
    width: 100%;
    padding: 3px 22px 3px 2px;
    border: 1px solid #ccc;
    border-width: 0.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAYAAAB7/H1+AAAA+UlEQVQokdXQsUeFYRTH8XOjSMMlEUlLWi6RqKGhqaGppX/o93vOeV7P4309Q0O8RFNDLw1NDW3pn4iGiERFbtT4Nj1cSbrdu/TlLGf4OI7IvyzGuAjghuR1jHEh79u2nfgyHRGRsixnAJwCePLer/2IhxCWSN6SvPLez3+Dd0REUkrTAE4AvDjnNn51uaouk7wDcFlV1dwAPogek3w1s61hviKqugLgHsBFSmk275ummSJ5RLJvZttDobmiKHokHwCchxC6dV1PkjwE8KaqO39Cc865VZKPAM5IHpB8V9XdkdCc936d5DOAD1XdGwuaM7NNkvtjRUfpEypChFloulwwAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.af_pin {
    width: 9em;
    margin: 8px auto;
    text-align: center;
    display: table;
}
.af_pin > button {
    display: table-cell;
    width: 2.7em;
    height: 2.7em;
    margin: 1px;
}
.af_pin > button.clear { color: #d72a2a; }

.af_button {
    margin-right: 0.2em;
    padding: 3px 10px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-width: 0.5px;
}
.af_button::-moz-focus-inner { border: 0; }
.af_button:not(:disabled):focus { outline: 1px dotted #ccc; }
.af_button:not(:disabled):hover { border-color: #de6a1d; }
.af_button:disabled { background: #bbb; }
.af_button.active {
    background: #de6a1d;
    border-color: #de6a1d;
    color: white;
}

.af_actions {
    width: 60%;
    max-width: 340px;
    margin: 24px auto 6px auto;
}
.af_actions > button {
    display: block;
    width: 100%;
}
.af_actions > * + * { margin: 6px 0; }
.af_actions > hr {
    border: none;
    border-top: 1px solid #efefef;
    border-top-width: 0.5px;
}

.af_calc { font-style: italic; }

/* -------------------- Slider -------------------- */

.af_slider {
    display: inline-block;
    width: 18em;
    height: 3.2em;
}
.af_slider > div {
    margin-bottom: 4px;
    font-size: 0.9em;
    text-align: center;
}
.af_slider > input {
    width: 100%;
    margin: 0.3em 0 2px 0;
    -webkit-appearance: none;
    background: none;
}
.af_slider > input::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.6em;
    background: rgba(136, 136, 136, 0.25);
    border: none;
    border-radius: 3px;
}
.af_slider > input::-moz-range-track {
    width: 100%;
    height: 0.6em;
    background: rgba(136, 136, 136, 0.25);
    border: none;
    border-radius: 3px;
}
.af_slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.6em;
    height: 1.6em;
    margin-top: -0.6em;
    background: #de6a1d;
    border: none;
    border-radius: 50%;
}
.af_slider > input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.6em;
    height: 1.6em;
    margin-top: -0.6em;
    background: #de6a1d;
    border: none;
    border-radius: 50%;
}
.af_slider > input:focus { outline: none; }

.af_slider.missing > div { visibility: hidden; }
.af_slider.missing > input::-webkit-slider-thumb { background: #999; }
.af_slider.missing > input::-moz-range-thumb { background: #999; }
