/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Containers -------------------- */

.fm_wrap + .fm_container,
    .fm_container + .fm_container,
    .fm_container + .fm_wrap,
    .fm_wrap + .fm_wrap { margin-top: 1.2em; }

.fm_section {
    position: relative;
    min-height: 24px;
    margin: 0;
    padding: 14px;
    background: rgba(136, 136, 136, 0.06);
    border: 0;
    border-radius: var(--block_rounding);
}
.fm_legend {
    box-sizing: border-box;
    width: calc(100% + 28px);
    margin: -14px 0 10px -14px;
    padding: 0.2em 0.5em;
    background: var(--page_color);
    border-radius: var(--block_rounding) var(--block_rounding) 0 0;
    font-size: 1.1em;
    color: white;
}
.fm_legend::before {
    padding-right: 0.5em;
    content: '#';
}

.fm_section.error {
    background: #f9e3e3;
    border: 1px solid #fc2727;
}
.fm_section.error > .fm_legend {
    background: #db0a0a;
    color: white;
}
.fm_section.error > .fm_legend::before { display: none; }

.fm_section.tabs {
    margin-top: 1.6em;
    padding-top: 24px;
}
.fm_tabs {
    position: absolute;
    left: 0;
    top: -1em;
    width: 100%;
    text-align: center;
}
.fm_tabs > button {
    position: relative;
    background: white;
    border: 1px solid white;
    border-width: 0.5px;
    color: black;
    z-index: 999;
}
.fm_tabs > button + button { margin-left: 8px; }
.fm_tabs > button:not(.active):not(:disabled):hover {
    background: white;
    border-color: var(--page_color);
    color: black;
    z-index: 1;
}
.fm_tabs > button.active, .fm_tabs > button.active:hover {
    background: var(--page_color);
    border-color: var(--page_color);
    color: white;
}

html:not(.small) .fm_columns { display: flex; }
html:not(.small) .fm_columns > div + div { padding-left: 12px; }
html.mobile .fm_columns > div + div { padding-top: 8px; }

/* -------------------- Widgets -------------------- */

.fm_widget { position: relative; }
.fm_widget > label {
    display: block;
    margin-bottom: 6px;
    padding-top: 4px;
    font-weight: bold;
}
.fm_widget.mandatory > label::after {
    content: ' *';
    color: red;
}
.fm_widget.error {
    background: #f9e3e3;
    outline: 3px solid #f9e3e3;
    color: red;
}
.fm_widget.error::before {
    position: absolute;
    left: -22px;
    top: calc(50% - 11px);
    z-index: 999;
    color: red;
    content: "⚠\FE0E";
    font-size: 1.4em;
}
.fm_error {
    padding: 4px 0 3px 0;
    font-style: italic;
}
.fm_help {
    display: flex;
    font-size: 0.9em;
    font-style: italic;
    margin-top: 0.4em;
}
.fm_help::before {
    content: '☞\FE0E';
    padding-right: 5px;
}
.fm_prefix, .fm_suffix {
    padding-top: 5px;
    font-size: 0.85em;
}
.fm_prefix { margin-right: 3px; }
.fm_suffix { margin-left: 3px; }

html:not(.small) .fm_widget.compact {
    flex: 1;
    display: flex;
    align-items: start;
}
html:not(.small) .fm_widget.compact > label {
    width: 270px;
    min-width: 270px;
    margin-bottom: 0;
    padding-right: 4px;
    font-weight: normal;
}
html:not(.small) .fm_widget.compact .fm_error {
    flex: 1;
    text-align: right;
}

/* -------------------- Simple widgets -------------------- */

.fm_input {
    max-width: 100%;
    padding: 3px calc(4px + var(--widget_rounding) / 4);
    background: white;
    border: 1px solid #ccc;
    border-width: 0.5px;
    border-radius: var(--widget_rounding);
}
.fm_select {
    /* This width: 100% is combined with an outer div set to max-width: 100% so that
       long options don't wreak havoc. Setting max-width: 100% here does not work correctly. */
    width: 100%;
    padding: 3px 22px 3px 4px;
    border: 1px solid #ccc;
    border-width: 0.5px;
    border-radius: var(--widget_rounding);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAYAAAB7/H1+AAAA+UlEQVQokdXQsUeFYRTH8XOjSMMlEUlLWi6RqKGhqaGppX/o93vOeV7P4309Q0O8RFNDLw1NDW3pn4iGiERFbtT4Nj1cSbrdu/TlLGf4OI7IvyzGuAjghuR1jHEh79u2nfgyHRGRsixnAJwCePLer/2IhxCWSN6SvPLez3+Dd0REUkrTAE4AvDjnNn51uaouk7wDcFlV1dwAPogek3w1s61hviKqugLgHsBFSmk275ummSJ5RLJvZttDobmiKHokHwCchxC6dV1PkjwE8KaqO39Cc865VZKPAM5IHpB8V9XdkdCc936d5DOAD1XdGwuaM7NNkvtjRUfpEypChFloulwwAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fm_enum {
    display: inline-block;
    padding-left: 1px;
}
.fm_enum > button {
    position: relative;
    margin: 0 0 0 -1px;
    padding: 0.25em 8px;
    background: white;
    border: 1px solid #ccc;
    border-width: 0.5px;
    border-radius: 0;
    color: black;
}
.fm_enum > button:first-child { border-radius: var(--widget_rounding) 0 0 var(--widget_rounding); }
.fm_enum > button:last-child { border-radius: 0 var(--widget_rounding) var(--widget_rounding) 0; }
.fm_enum > button::before, .fm_enum > button::after {
    display: inline-block;
    width: 8px;
    font-size: 0.9em;
    content: '';
}
.fm_enum > button:not(.active):not(:disabled):hover {
    background: white;
    border-color: var(--page_color);
    color: black;
    z-index: 1;
}
.fm_enum > button.active {
    background: #555;
    border-color: #555;
    color: white;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}
.fm_enum > button.active::before {
    width: 16px;
    content: '✓\FE0E';
    font-size: 0.8em;
}
.fm_enum > button.active::after { display: none; }
.fm_enum > button.active:hover {
    background: #777;
    border-color: #777;
}

.fm_enum.readonly, .fm_radio.readonly, .fm_multi.readonly, .fm_slider.readonly {
    pointer-events: none;
    cursor: inherit;
}

/* -------------------- Nice radio and checkboxes -------------------- */

.fm_radio {
    display: inline-block;
    padding-top: 3px;
}
.fm_radio > input {
    position: absolute;
    opacity: 0;
}
.fm_radio > input + label {
    position: relative;
    padding-left: 27px;
    line-height: 20px;
    cursor: pointer;
}
.fm_radio > input + label::before {
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 1px;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    background: white;
    border: 1px solid #ccc;
    border-width: 0.5px;
    border-radius: 50%;
    z-index: 1;
    content: ' ';
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}
.fm_radio > input + label::after {
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 1px;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    background-color: black;
    border: 4px solid white;
    border-radius: 50%;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}
.fm_radio > input:checked + label::before { background: none; }
.fm_radio > input:checked + label::after { content: ''; }
.fm_radio > input:hover + label::before { border-color: var(--page_color); }
.fm_radio > input:hover + label::after { background-color: var(--page_color); }

.fm_multi {
    display: inline-block;
    padding-top: 3px;
}
.fm_multi > input {
    position: absolute;
    opacity: 0;
}
.fm_multi > input + label {
    position: relative;
    padding-left: 27px;
    line-height: 20px;
    cursor: pointer;
}
.fm_multi > input + label::before {
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 1px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-width: 0.5px;
    background: white;
    content: ' ';
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}
.fm_multi > input + label::after {
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 4px;
    width: 8px;
    height: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(-45deg);
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}
.fm_multi > input:checked + label::after { content: ''; }
.fm_multi > input:hover + label::before,
    .fm_multi > input:hover + label::after { border-color: var(--page_color); }

@media (pointer: coarse) {
    .fm_radio > input + label {
        padding-left: 32px;
        line-height: 28px;
    }
    .fm_radio > input + label::before {
        top: 0;
        width: 22px;
        height: 22px;
    }
    .fm_radio > input + label::after {
        top: 0;
        width: 22px;
        height: 22px;
        border: 5px solid white;
    }

    .fm_multi > input + label {
        padding-left: 32px;
        line-height: 28px;
    }
    .fm_multi > input + label::before {
        top: 0;
        width: 22px;
        height: 22px;
    }
    .fm_multi > input + label::after {
        left: 7px;
        top: 4px;
        width: 12px;
        height: 7px;
    }
}

/* -------------------- Slider -------------------- */

.fm_slider {
    position: relative;
    display: inline-block;
    width: 24em;
}
.fm_slider > span {
    display: block;
    margin-bottom: 4px;
    font-size: 0.9em;
    text-align: center;
}
.fm_slider > div {
    display: flex;
    align-items: start;
}
.fm_slider input {
    flex: 1;
    width: 100%;
    margin-top: 4px;
    -webkit-appearance: none;
    background: none;
}
.fm_slider input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: white;
    background-image: linear-gradient(90deg, #555 var(--progress),
                                             white var(--progress));
    border: 1px solid #dfdfdf;
    border-width: 0.5px;
    border-radius: 4px;
}
.fm_slider input::-moz-range-track {
    width: 100%;
    height: 6px;
    margin-top: -3px;
    background: white;
    background-image: linear-gradient(90deg, #555 var(--progress),
                                             white var(--progress));
    border: 1px solid #dfdfdf;
    border-width: 0.5px;
    border-radius: 4px;
}
.fm_slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.6em;
    height: 1.6em;
    margin-top: -0.6em;
    background: #555;
    border: none;
    border-radius: 50%;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}
.fm_slider input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.6em;
    height: 1.6em;
    margin-top: -0.6em;
    background: #555;
    border: none;
    border-radius: 50%;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}

.fm_slider .fm_prefix {
    margin-right: 10px;
    padding-top: 3px;
}
.fm_slider .fm_suffix {
    margin-left: 10px;
    padding-top: 3px;
}
.fm_slider .ticks {
    position: relative;
    height: 1.8em;
    padding-top: 6px;
}
.fm_slider .ticks > span {
    position: absolute;
    text-align: center;
    font-size: 0.85em;
}

.fm_slider.missing > span { visibility: hidden; }
.fm_slider.missing input::-webkit-slider-thumb { visibility: hidden; }
.fm_slider.missing input::-moz-range-thumb { visibility: hidden; }
.fm_slider.missing > div::after {
    content: ' ';
    position: absolute;
    display: block;
    left: calc(50% - 0.8em);
    top: 1px;
    width: 1.6em;
    height: 1.6em;
    background: #ccc;
    border: none;
    border-radius: 50%;
    color-adjust: exact !important;
    pointer-events: none;
}
