/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout and basic elements -------------------- */

body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
@media (pointer: coarse) {
    body { font-size: 16px; }
}

main { margin-top: 2.5em; }

a { color: #24579d; }

button {
    font-family: inherit;
    font-size: 1em;
}
button:not(:disabled) { cursor: pointer; }

/* -------------------- Toolbars -------------------- */

.gp_toolbar {
    display: flex;
    position: sticky;
    box-sizing: border-box;
    width: 100%;
    height: 2.5em;
    min-height: 2.5em;
    left: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    background: #2d62ac;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gp_toolbar button {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    background: inherit;
    border: 0;
    color: inherit;
    text-decoration: none;
}
.gp_toolbar button::-moz-focus-inner { border: 0; }
.gp_toolbar button:focus { outline: 0; }
.gp_toolbar button:not(.active):not(:disabled):hover { background-color: #376cb5; }
.gp_toolbar button.active { background-color: #3b7ad1; }
.gp_toolbar button:disabled { filter: brightness(75%); }

.gp_dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    background-color: inherit;
}
.gp_dropdown > button {
    padding-right: 24px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAICAYAAAAftBSpAAAAWUlEQVQokc3PsQ1AUBQFUF9orGYFMYPWDio76KxgMuFofiESfJ2bvPKevJtlvwlqrNgfDpo3qMX2AHSpH/U3yPBlVsB4ASaEZCRCOeY4YUHxCThBJQZUqZ0D9l2cDdCOtbQAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right center;
}
.gp_dropdown > div {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: inherit;
    border-left: 0.5px solid #376cb5;
    z-index: 9999;
}
.gp_dropdown.right > div {
    right: 0;
    border-left: 0;
    border-right: 0.5px solid #376cb5;
}
.gp_dropdown:hover > div {
    display: flex;
    flex-direction: column;
}
.gp_dropdown:hover > button { background-color: #376cb5; }
.gp_dropdown > div button {
    height: 2.5em;
    text-align: left;
}

.gp_toolbar.dev { background: #383936; }
.gp_toolbar.dev button.active { background: #272822; }
.gp_toolbar.dev button:not(.active):not(:disabled):hover { background: #31322e; }

/* -------------------- Main header -------------------- */

#gp_menu {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: #24579d;
}

#gp_assets {
    flex-grow: 1;
    min-width: 5em;
    background: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAALCAYAAABhwJ3wAAAAmElEQVQ4jbXSsQpBARgFYC+hDLJISZQUA2UymCzKi8uiDEqhUKKw+CyGf7jEdZ064+lbTg55THHPqGtUc0lBAbMMkA3qiUjAipj/gOzQfIsErIRFCuSA9kdIwMpYfoEc0f0KCVgFqw+QE/qpkIDVng96hZwx+AkJWAPbBOSCYSZIwFrYB+SKUaZIwDrPZ90w/gsSsB4mafcPBrf6ZZY6+FYAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: right;
    border: 0;
    outline: 0;
    color: inherit;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    text-align-last: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@-moz-document url-prefix() {
    #gp_assets > optgroup {
        background: DodgerBlue;
        color: white;
    }
}

#gp_lock {
    width: 2.5em;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAWCAYAAADJqhx8AAABaklEQVQ4jZ3Tv05UURDH8QvNkmhBsoI+BGADUmykoDM0xCfQECt4FwX8QwiWxpfQ0EHsgScANLSCweD6sbizm7PD7k1wkpPcO7/ffM+dc+ZWVQqM4SUO8SvWAV5gLPtz8Tg+Gx2fMN4EeBXGK2xgKtZG5GCtCfAtTOtDtPXQDpsAl2F6NER7GNrPJgD4X71vwBscR99X8fy6EYBWw+nnaOXiCXwN8RqbWMQ9tNHBR/wOz5cBCN6HcIrHDS0u4CK8273kHLqx88jiAjKPP7FmKmwHcTMZn+NHrNWk7UTNVoWTeHmSTOfFoZ0mbTnyR5X6Z4H7yfS9AJwlbTLylyWgnUwrBeBZ0qZLQK+FzpADw+3BwdOyhd4h7t0BsNu/Sszir3pIFpJxH/sp18GN+upneskPQbzAfN4xFZ+F910pTMRu1AOyE1fVxgMsxWffhGdwlAPSUo901+jo4u2t4gSaC9OJwd95q99zEf8AXIvuFp9f9DcAAAAASUVORK5CYII=');
    border: 0;
}

#gp_status {
    width: 2.5em;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}
#gp_status.online { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABiElEQVRIic3VP2obURAGcMOCS4N9AasKpAhCoCak8zVcmRzAF3CnxvYJ1AQVKgySexcqBKmDm4AOkCJFwIULleaXYj9Fm402lpxNyIOBmTfzvm/ev5m9vf9hoMBrnOF99KIN4D7GWCrHU0WWGKH3EuAD3OARX/ApWV9giDe4j+8xSRxsC97BIgQT3GE/vgsMo+/HN4ks0Nkm8wUucYJvOKr4fxDEPkrMCa6ytnknyfom+hznNf9PBJk7xzz6BOMm8H4ur43R30QwytEcJqtZ9KoMElefn2XNIa7xoQ5e4AHd2EMMNiTxyxFlfmB9+b3cS1EN6GBZsWc43YHgFHcVe4njasDbsF5GvmJasVfyUfn+6/PTrFnZD3j3Twn++hEV2UEvdruXHMdI+Rvbf6Yh6Grnoz1pqrDKqjiJPrd7qbjFaCN4AlbF7sruxe4anz1Xtq3L9dT25fo24Me/Ba/tZGzdcO6VTaap4YyezbyBqJfF9ZbJumV2dwbeQFTglbLpn0X/86bfxvgOIj43Mp9kmakAAAAASUVORK5CYII='); }
#gp_status.offline { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB4klEQVRIic2VsWoCQRCGg2AbLFJbWQWEkMLiRBArm7yBlW9wYJHCysrCLo0EQg4Lm7QBkTQ+RR4hjXCNylXhS3H/xWGz7llYZOBgb3f2/2f+nZ29uvoPBlSBOtAGOkADqFwCuAW8Alty2wGZximwAFrGPwIS4KYMuAYsDdgGuAXGwFzjjdYyIFZ2O80lIfAG8CmCFfAOVLU2BuZGthXwBPSAg8kyOgV+LfCJ0t0CNbP+S2Ay7ZnIM6Abin4JLDVeAyNn3SWIgL3A90AfiE+B33O+bRxZMoEX59LyESTATGnHyqDmfBNp3jGyFJF35TMDFi54RXo39f8MjD1B9BzN9wJ+5Hj4TSB1N9aVbsXoP/AQRC645ofA2gSbAQ13YwpM9X0Bb+b/QT4HA96XZFP5fhn/FGhbgnaAYIKnFEU6DRBElqDhkWgYksWRbuCRqO4ecuoc8qMHvH/ibOwNb6pgKq7TgmOZdj3V0pNcr/wt3w/y0i7K9MUNouicUH6JyuwbuPtDIJKYQG/BaRWaGxn9l5R0Ul8pljW7rfZNyRvldQi8iPygTJ7IW3KoXa8U+Se2cjwEicB35Pci5vwHJzkZuSG4kWNk5lrk1ZUa2QrSLXk53weBzzXyy9hRdnUu8ehfwn4AniG7J5JDDN8AAAAASUVORK5CYII='); }
#gp_status.unplugged { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA10lEQVRIibWWyw2EMAxEOaWMSNSQMwcKRGwfdEEbbAdLBVzeHkikAIZ8dj1STlHmSR5j0zSZAgxg/TG571KmDhiBhasWf+dqjFtgEkzvNAFtrnkHfArMg1agT5n3wFZhHrQB3VNZ1h/Mgz6AlQAlNU9pOpu7P5oHuRjwUgAMMeCtAFiCuREuZ/bQS84s+JjQPWcdQ8oQcpPYhn22qAJ0S6QesgeMCoBDm+p+aA8h1eraJOxB1Yzps+Rh5yF64zqC6C2cCGIpX5lyWRKg1NIfqFn6N7Cq35YvSBQYyo6nATQAAAAASUVORK5CYII='); }

/* -------------------- Panels -------------------- */

.gp_panel.left {
    position: fixed;
    left: 0;
    top: 2.5em;
    width: 50vw;
    height: calc(100% - 2.5em);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-right: 1px solid #dfdfdf;
}
.gp_panel.fixed {
    position: fixed;
    left: 0;
    top: 2.5em;
    width: 100%;
    height: calc(100% - 2.5em);
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.gp_panel.right {
    margin: 2.5em 0 0 50vw;
    min-height: calc(100vh - 2.5em);
}
.gp_panel.overview {
    width: 100%;
    min-height: calc(100vh - 2.5em);
}

.gp_panel:empty {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    animation: gp_panel_empty 0.2s 1 linear;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}
.gp_panel:empty:before {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: -2px 0 0 -2px;
}
.gp_panel:empty:after {
    content: ' ';
    display: block;
    width: 48px;
    height: 48px;
    margin: 1px;
    border-radius: 50%;
    border: 12px solid white;
    border-color: white transparent white transparent;
    animation: gp_panel_spinner 0.8s ease-in-out infinite;
}
@keyframes gp_panel_empty {
    100% {
        visibility: visible;
        background: #24579d;
    }
}
@keyframes gp_panel_spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.gp_panel.broken {
    filter: grayscale(100%);
    opacity: 0.5;
}

#gp_error {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px;
    background: #db0a0a;
    color: white;
    white-space: pre-wrap;
    z-index: 9999;
}

/* -------------------- Login -------------------- */

#gp_login {
    width: 300px;
    margin: 4em auto;
    padding: 12px;
    background: #efefef;
}

/* -------------------- Utility -------------------- */

.gp_wip {
    padding: 5px;
    font-size: 2em;
    text-align: center;
}
.gp_wip:before {
    content: '⚠\FE0E';
    padding-right: 10px;
}
