/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Loading screen -------------------- */

.gp_loading {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    animation: gp_loading_wait 0.2s 1 linear;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}
.gp_loading::after {
    content: ' ';
    display: block;
    width: 48px;
    height: 48px;
    margin: 1px;
    border-radius: 50%;
    border: 12px solid var(--menu_color);
    border-color: var(--menu_color) transparent var(--menu_color) transparent;
    animation: gp_loading_spinner 0.8s ease-in-out infinite;
}
.gp_loading > * { display: none !important; }
@keyframes gp_loading_wait {
    100% {
        visibility: visible;
        background: white;
    }
}
@keyframes gp_loading_spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* --------------------  Login -------------------- */

#gp_logo {
    position: absolute;
    left: calc(50% - 48px);
    margin-top: -64px;
    width: 96px;
    height: 96px;
}
