/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Layout -------------------- */

html.instance {
    --menu_color: #24579d;
    --page_color: #487765;
    --anchor_color: #ea6624;

    --block_rounding: 0px;
    --widget_rounding: 0px;
}

#ins_page {
    box-sizing: border-box;
    margin: 0;
    padding-top: 6px;
    width: 100%;
    border: 12px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#ins_form {
    width: 100%;
    max-width: 980px;
}

html.mobile #ins_page {
    border-left: none;
    border-right: none;
}

/* -------------------- Left menu -------------------- */

#ins_menu {
    display: none;
    position: sticky;
    top: 20px;
    box-sizing: border-box;
    width: 200px;
    padding-right: 12px;
}
#ins_menu h1 {
    font-size: 1.1em;
    margin: 0;
    font-variant: small-caps;
    color: var(--page_color);
}
#ins_menu * + h1 { margin-top: 6px; }
#ins_menu ul {
    margin: 0;
    padding: 0;
}
#ins_menu li {
    list-style: none;
    display: flex;
    margin-top: 1px;
}
#ins_menu li::before {
    content: '–';
    color: #ccc;
}
#ins_menu li > * { padding: 0 5px; }
#ins_menu ul a {
    display: flex;
    flex: 1;
    margin-left: 3px;
    padding: 1px 5px;
    text-decoration: none;
    color: black;
    border-radius: var(--widget_rounding);
}
#ins_menu ul a.active, #ins_menu ul a:hover {
    background: var(--page_color);
    color: white;
}
#ins_menu hr {
    margin: 10px;
    border: 0;
    border-top: 1px solid #dfdfdf;
}

#ins_actions {
    display: none;
    position: sticky;
    box-sizing: border-box;
    top: 200px;
    width: 180px;
    padding-left: 12px;
}
#ins_actions > hr {
    margin: 10px;
    border: 0;
    border-top: 1px solid #dfdfdf;
}
#ins_actions > button { width: 100%; }


html:not(.small) #ui_panels > div:only-child #ins_menu { display: block; }
html:not(.small) #ui_panels > div:only-child #ins_actions { display: block; }

/* -------------------- Misc -------------------- */

#ins_notice {
    position: sticky;
    left: calc(50% - 160px);
    bottom: 0;
    width: 320px;
    padding: 3px 6px;
    background: #db0a0a;
    color: white;
    text-align: center;
    z-index: 9999999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#ins_notice::before {
    content: '⚠\FE0E';
    padding-right: 3px;
}
@media (hover: hover) {
    #ins_notice:hover { filter: opacity(20%); }
}

#ins_data td.saved a::before {
    padding-right: 8px;
    font-size: 0.9em;
    font-weight: bold;
    content: '✓\FE0E';
}
#ins_data td.missing { font-style: italic; }

.ins_highlight {
    outline: 2px dotted #24579d;
    outline-offset: 2px;
}

/* -------------------- Deploy dialog -------------------- */

.ins_deploy td.actions { text-align: center; }
.ins_deploy td.actions > a { padding: 0 6px 0 6px; }
.ins_deploy td.actions > a.active {
    background: var(--page_color);
    border-radius: 50%;
    color: white;
    pointer-events: none;
}

.ins_deploy td.path { text-align: left; }
.ins_deploy td.path.overwrite {
    color: red;
    font-style: italic;
}
.ins_deploy td.path.delete {
    font-style: italic;
    text-decoration: line-through;
}
.ins_deploy td.path.virtual { opacity: 0.4; }
.ins_deploy td.path.none { opacity: 0; }

.ins_deploy td.size {
    color: #999;
    text-align: right;
    font-style: italic;
}
.ins_deploy span.conflict {
    font-style: normal;
    color: red;
}
