/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    font: 0.75em sans-serif;
    padding: 0;
    margin: 32px 2px 2px 2px;
    background: #f8f8f8;
}

@media screen and (max-width: 599px) {
    body { margin: 30px 0 0 0; }
}

#bb_menu {
    left: 0;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background: #262626;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#bb_menu a {
    display: table-cell;
    height: 30px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px 1.5em;
    color: white;
}
#bb_menu a.active {
    background: #f8f8f8;
    color: black;
}
#bb_menu a:not(.active):hover { background: #444; }

@media screen and (max-width: 1099px) {
    #bb_menu {
        display: table;
        table-layout: fixed;
    }
    #bb_menu a {
        display: table-cell;
        text-align: center;
    }
}
