/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------- Week day names header -------------------- */

.sc_header {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.sc_header div {
    display: inline-block;
    width: 14.28%; /* 100% / 7 */
    text-align: center;
    color: #444;
    font-style: italic;
}

@media screen and (max-width: 1099px) {
    .sc_header { display: none; }
}

/* -------------------- Year / month selection menu -------------------- */

.sc_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 999;
    background: #262626;
    color: white;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.sc_selector, .sc_months {
    display: inline-block;
    vertical-align: bottom;
}
.sc_selector { margin: 0 1em; }
.sc_selector a, .sc_months a {
    display: inline-block;
    height: 30px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
.sc_selector a { padding: 6px 0em; }
.sc_months a { padding: 7px 1em; }
.sc_months a.active {
    background: #f8f8f8;
    color: black;
}
.sc_months a:not(.active):hover { background: #444; }
.sc_selector b {
    display: inline-block;
    padding-top: 7px;
    width: 6em;
}
.sc_deploy { display: none; }

@media screen and (max-width: 1099px) {
    .sc_months { display: none; }
    .sc_months.active { display: block; }
    .sc_selector {
        display: inline-block;
        margin: 0 1em;
    }
    .sc_month { width: 50%; }
    .sc_deploy {
        display: block;
        position: fixed;
        bottom: 0;
        left: calc(100vw - 32px);
        width: 32px;
        height: 30px;
        margin: 0;
        padding: 0;
        z-index: 20;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAYAAAB7/H1+AAAAmElEQVQoka3RT4uBYRSHYV9CWUw2UtIoKRaUlcWsbKbmi8tGWSiFQokys3HN5j0l+fPwOnXvTtfmVygkHn7QS/1PRb/xhy0670KH+MUpa4NWXvQLxzM0WqHxKjrA4QoaLVB/Fu1jfweN5qimol3sEtBohsojtJ0tn4pGU5RvoU2sX0CjCT4u0U8sc6DRGKVAa9nCedFohOI/R7r6ZdlC4fkAAAAASUVORK5CYII=");
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* -------------------- Schedule layout -------------------- */

.sc_days:after {
    display: table;
    content: " ";
    clear: both;
}
.sc_days { margin-bottom: 32px; }
.sc_skip, .sc_day {
    float: left;
    width: calc(14.28% - 6px); /* 100% / 7 */
    min-height: 134px;
    box-sizing: border-box;
    margin: 3px;
}
.sc_day {
    background: #eaeaea;
    text-align: center;
    border-radius: 12px 12px 4px 4px;
}
.sc_day_disabled { background: #cbcbcb; }

@media screen and (min-width: 1100px) {
    .sc_day:nth-child(7n + 1) { clear: both; }
}
@media screen and (max-width: 1099px) {
    .sc_day { width: calc(50% - 6px); }
    .sc_day:nth-child(2n + 1) { clear: both; }
    .sc_skip { display: none; }
}
@media screen and (max-width: 599px) {
    .sc_days { margin-bottom: 30px; }
    .sc_day {
        width: 100%;
        min-height: 0;
        margin: 0;
        border-radius: 0;
        background: inherit;
    }
}

/* -------------------- Day header -------------------- */

.sc_head {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px 4px 0 0;
}
.sc_day_disabled .sc_head { background: #373737; }
.sc_day_empty .sc_head { background: #e68f00; }
.sc_day_some .sc_head { background: #24579d; }
.sc_day_full .sc_head { background: green; }
.sc_day_warn .sc_head { background: #ca3317; }
.sc_head_date {
    display: table-cell;
    text-align: left;
}
.sc_head_count {
    display: table-cell;
    text-align: right;
}
.sc_head_week_day { display: none; }
.sc_head_date {
    display: table-cell;
    text-align: left;
}

@media screen and (max-width: 599px) {
    .sc_head { border-radius: 0; }
}
@media screen and (max-width: 1099px) {
    .sc_head_week_day {
        display: table-cell;
        text-align: left;
    }
    .sc_head_date { text-align: center; }
}

/* -------------------- Slot table -------------------- */

.sc_slots {
    width: 100%;
    border-collapse: collapse;
}
.sc_slots td {
    border: 0;
    padding: 2px;
}
.sc_slots tr:hover {
    background: #bbb;
    color: white;
}
.sc_slot_time {
    opacity: 0.7;
    text-align: right;
    width: 30px;
    border: 0;
}
.sc_slot_used .sc_slot_time { cursor: grab; }
.sc_slot_identity { text-align: left; }
.sc_slot_warn.sc_slot_used {
    background: #ca3317;
    color: white;
    font-style: italic;
}
.sc_slot_warn .sc_slot_identity:after {
    float: right;
    margin-right: 3px;
    content: '⚠ ';
    font-size: 0.9em;
    font-style: normal;
}
.sc_slot_overbook .sc_slot_time, .sc_slot_overbook.sc_slot_used { font-style: italic; }
.sc_slot_overbook.sc_slot_used {
    background: #9b56f2;
    color: white;
    font-style: italic;
}
.sc_slot_overbook .sc_slot_identity:after {
    float: right;
    margin-right: 3px;
    content: '∂ ';
    font-style: normal;
}
.sc_slot_edit {
    color: inherit;
    text-decoration: none;
    float: right;
}
