/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    font-family: Geneva, sans-serif;
    font-size: 13px;
}

.inpl_tabpage:not(.active) { display: none; }
.inpl_tabbar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.inpl_tabbar * {}
.inpl_tabbar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 13px;
}
.inpl_tabbar button:hover { background-color: #ddd; }
.inpl_tabbar button.active { background-color: #ccc; }
.inpl_tabpage { padding: 1em; }

#inpl_menu_stat {
    padding: 9px 12px 0 0;
    float: right;
    color: #666;
}
#inpl_menu_file {
    float: right;
    padding: 6px 4px 0 0;
}

.inpl_options {
    text-align: center;
    padding: 0 0 1em 0;
}
.inpl_options label { padding: 0 0.5em 0 0.5em; }

.inpl_table {
    width: 95%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    background: #eee;
}
.inpl_table th, .inpl_table td {
    padding: 2px 0;
    border: 1px solid #ddd;
}
.inpl_table th { padding: 2px 4px 2px 4px; }
.inpl_table td { padding: 2px 0; }
.inpl_table th:first-child { width: 70px; }
.inpl_table tbody th {
    font-weight: normal;
    font-style: italic;
    text-align: right;
} 
.inpl_table tbody td { text-align: center; }

.inpl_result_1 {
    background: #ff0000;
    color: white;
}
.inpl_result_2 {
    background: #ffc000;
    color: white;
}
.inpl_result_3 {
    background: #70ad47;
    color: white;
}
.inpl_result_0 {
    background: #aaa;
    color: white;
}
