/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#gp_root {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    height: auto;
    padding-top: 12em;
    margin: 0 auto;
}

h1 {
    font-size: 1.1em;
    text-align: center;
    margin-top: 0;
}

section {
    flex: 1;
    padding: 0 12px;
    background: #f8f8f8;
    border-top: 12px solid #f8f8f8;
    border-bottom: 12px solid #f8f8f8;
    text-align: center;
}
section + section { margin-left: 12px; }

table {
    width: 100%;
    margin-bottom: 1em;
    table-layout: fixed;
    border-collapse: collapse;
    background: white;
}
table tr.selected {
    background: #666;
    color: white;
}
table tr.selected a { color: inherit; }
table td {
    padding: 3px 6px;
    border: 1px solid #ddd;
}
table td:first-child { text-align: left; }
