/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

.vlin {
    width: 100%;
    height: 50px;
}

.vlin_line {
    stroke: #888;
    stroke-width: 1;
}

.vlin_node { cursor: pointer; }
.vlin_node_current {
    color: #ff6600;
    fill: #ff6600;
    font-weight: bold;
}
.vlin_node_major {
    color: black;
    fill: black;
    font-weight: normal;
}
.vlin_node_normal {
    color: #888;
    fill: #888;
    font-weight: normal;
}
.vlin_text { cursor: pointer; }

@media screen and (max-width: 800px) {
    .vlin_text { font-size: 0.85em; }
}
