{% macro configure_http(domain) -%}
        server_name {{ domain }};

        listen 80;
        listen [::]:80;

        access_log /var/log/nginx/{{ domain }}.access.log;
        error_log /var/log/nginx/{{ domain }}.error.log error;
{%- endmacro %}

{% macro configure_https(domain) -%}
        server_name {{ domain }};

        listen 443 ssl;
        listen [::]:443 ssl;

        access_log /var/log/nginx/{{ domain }}.access.log;
        error_log /var/log/nginx/{{ domain }}.error.log error;

        client_max_body_size 32M;

        ssl_dhparam /opt/nginx/ssl/dhparam.pem;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
        ssl_prefer_server_ciphers on;
        ssl_session_timeout 1d;
        ssl_session_cache shared:MozSSL:10m;
        ssl_session_tickets off;
{%- endmacro %}
