/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #eee 0%, #ddd 100%);
    color: #585858;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    color: #012330;
    cursor: pointer;
}
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

#header {
    position: sticky;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.5em;
    background: #012330;
    z-index: 99;
    align-items: center;
    justify-content: center;
}
#header a {
    font-variant: small-caps;
    color: #f8f8f8;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
}
#header a + a { margin-left: 1em; }
#header a:hover { text-decoration: underline; }
#logo {
    margin: 40px 10px 10px 10px;
    width: 64px;
    height: 64px;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    #header { height: auto; }
    #header > div:first-child > a { text-align: right; }
    #header > div:last-child > a { text-align: left; }
    #header a {
        display: block;
        letter-spacing: 0;
        font-size: 0.9em;
        margin-left: 0 !important;
    }
    #logo { margin-top: 10px; }
}

main {
    flex: 1;
    width: calc(100% - 3em);
    max-width: 870px;
    padding: 2em 1.5em 1.5em 1.5em;
    background: rgba(255, 255, 255, 0.5);
}
