[Unit]
Description = The Napka Service
After = syslog.target network.target

[Service]
User = napka
Group = napka
EnvironmentFile = {{ napka_root_path }}/secrets/%i.env
WorkingDirectory = {{ napka_root_path }}/builds/%i/src/napka
ExecStart = /usr/bin/node {{ napka_root_path }}/builds/%i/src/napka/src/server/server.js
Restart = on-failure
SuccessExitStatus = 143

[Install]
WantedBy = multi-user.target
