/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.ppik {
    display: inline-block;
    height: 42px;
    width: 100%;
    overflow: hidden;
}
.ppik_main {
    position: relative;
    margin: 0 60px;
}

.ppik_line {
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.ppik_bar {
    position: absolute;
    top: 24px;
    height: 4px;
    background: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 2px;
    cursor: move;
    cursor: grab;
}
.ppik_bar.grabbed { cursor: grabbing;  }
.ppik_text {
    position: absolute;
    top: 4px;
    width: 100%;
    font-style: italic;
    color: #262626;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ppik_handle {
    position: absolute;
    top: 20px;
    height: 14px;
    width: 14px;
    margin-left: -7px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAe0lEQVQoka2SMQ6EMAwEp6LhAbzqSqqI6nCektdRRuIj6ZeKO0RAigyWXI53bS8cSjODjCQjKyJFJCPLSJoZuCoZQUb5Aec2ioxQQ3dAPSAc7d0r1eCyq6VmKLJqot/B3Ax++fz3a1eTRroXQLdV93G873AH4FHkPCHfALqcaZAoX5UBAAAAAElFTkSuQmCC');
    cursor: ew-resize;
}
