<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{TITLE}</title>
        <link rel="icon" href="/static/favicon.png">

        <link rel="stylesheet" href="/static/main.css?{BUSTER}">
        <link rel="stylesheet" href="/static/print.css?{BUSTER}" media="print">
        <link rel="stylesheet" href="/static/opensans/OpenSans.css">

        <script type="text/javascript" src="/static/main.js?{BUSTER}" async></script>
    </head>
    <body class="nojs">
        <div id="deploy" onclick="deploy(); return false;"></div>

        <nav id="top">
            <menu>
                <a id="logo" href="/"><img src="/static/logo.png" alt="Logo DEMHETER" /></a>

{LINKS}
            </menu>
        </nav>

        {TOC}

        <main>{CONTENT}</main>

        <footer>
            <div>DEMHETER © 2022</div>
            <img src="/static/logo.png" alt="" width="300">
            <div style="font-size: 0.8em;">
                CHU de Lille, 59037 Lille CEDEX<br>
                <a href="mailto:demheter@chu-lille.fr" style="font-weight: bold; color: inherit;">demheter@chu-lille.fr</a>
            </div>
        </footer>
    </body>
</html>
