body {
    margin: 0;
    padding: 0;
    font-family: Geneva, sans-serif;
    font-size: 13px;
}
#side_bar { background: #eeeeee; }

#side_menu ul {
    margin: 0;
    padding: 0;
}
#side_menu li { list-style-type: none; }
#side_menu a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: black;
}
#side_menu a.category { font-weight: bold; }
#side_menu a.active {
    background: #262626;
    color: white;
}
#main_menu a:hover:not(.active) {
    background: #ddd !important;
    color: black !important;
}
#logo {
    display: block;
    margin: 1em auto;
}

.hide:not(.active) { display: none !important; }
.log { color: red; }
#flash_box {
    display: none;
    filter: opacity(0);
    color: red;
}
.flash {
    display: block !important;
    animation: flash 6s 1;
}
@keyframes flash {
    0% { filter: opacity(100%); }
    90% { filter: opacity(100%);}
    100% { filter: opacity(0); }
}
.outdated {
    animation: outdated 1s 1;
    filter: grayscale(100%) opacity(50%);
}
@keyframes outdated {
    0% { filter: grayscale(0) opacity(100%); }
    100% { filter: grayscale(100%) opacity(50%); }
}

.page:not(.active) { display: none !important; }

#pricing_menu {
    margin: 0 1em 1em 1em;
    text-align: center;
}
#pricing_menu h1 {
    margin: 0.5em 3px 0 3px;
    font-size: 1.1em;
}
#pricing_indexes {
    width: 100%;
    height: 50px;
}

#pricing_table {
    width: 100%;
    border-collapse: collapse;
}
#pricing_table th, #pricing_table td {
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 68px;
}
#pricing_table th {
    background: white;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}
#pricing_table thead td {
    text-align: center;
    font-weight: bold;
}
#pricing_table tbody td {
    background: #969696;
    text-align: right;
}
#pricing_table .desc { background: #ffc634; }
#pricing_table .conditions {
    background: #b70202;
    color: white;
}
#pricing_table .price { background: #68dc33; }
#pricing_table .exb { background: #ff8900; }
#pricing_table .exh {
    background: #6b1b6a;
    color: #b4cdff;
}
#pricing_table .age { background: #99ffff; }

@media screen and (min-width: 801px) {
    a.deploy { display: none; }

    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
        width: 200px;
    }
    #side_menu a { padding: 0.5em 0.5em 0.5em 2em; }
    #side_menu a.category { padding-left: 0.5em; }
    #flash_box {
        border-top: 1px solid #000;
        padding: 0.5em;
    }

    main {
        max-width: 800px;
        margin-left: 200px;
        padding: 1em;
    }

    #pricing_table tr:hover th {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    #pricing_table tr:hover td {
        filter: invert(10%);
        -webkit-filter: invert(10%);
    }
    #pricing_table tr th:first-child { width: 90px; }
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
        margin: 0;
    }

    a.deploy {
        display: block;
        float: left;
        width: 42px;
        height: 40px;
        margin: 0;
        padding: 0;
        background-color: #262626;
        background-image: url("data:image/gif;base64,R0lGODlhFgAWAIABAP///wAAACH5BAEKAAEALAAAAAAWABYAAAIfhI+py+0PXZi02ouz3rz7b0XiSJYRiKbqyobmC8dNAQA7");
        background-repeat: no-repeat;
        background-position: center;
    }

    #logo { display: none; }
    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        min-height: 40px;
        background: #262626;
        z-index: 10;
    }
    #side_menu a {
        display: none;
        height: 40px;
        padding: 10px 10px 10px 52px;
        color: white;
        font-style: italic;
        font-size: 16px;
    }
    #side_menu a.category { font-style: normal; }
    #side_menu a.active {
        display: block;
        font-style: normal;
    }
    #side_menu.active a { display: block; }
    #flash_box {
        position: fixed;
        top: 45px;
        left: 50%;
        width: 80%;
        margin-left: -40%;
        border-radius: 4px;
        background: #fafafa;
        padding: 0.5em;
    }

    main { padding-top: 40px; }

    #pricing_menu {
        display: none;
        position: fixed;
        left: 0;
        top: 40px;
        box-sizing: border-box;
        width: 100vw;
        padding: 1em;
        margin: 0;
        background: #eeeeee;
        z-index: 1;
    }
    #pricing_menu.active { display: block; }
    #pricing a.deploy {
        position: fixed;
        top: 0;
        left: calc(100vw - 42px);
        z-index: 20;
    }
    #pricing_menu input, #pricing_menu select { float: right; }
    #pricing_menu label {
        display: block;
        height: 30px;
        text-align: left;
    }

    #pricing_table tr th:first-child {
        border-left: 0;
        width: 80px;
    }
    #pricing_table tr td:last-child { border-right: 0; }
}
