body {
    margin: 0;
    padding: 0;
    font-family: Geneva, sans-serif;
    font-size: 13px;
}
#side_bar { background: #eeeeee; }

#side_menu ul {
    margin: 0;
    padding: 0;
}
#side_menu li { list-style-type: none; }
#side_menu a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: black;
}
#side_menu a.category { font-weight: bold; }
#side_menu a.active {
    background: #262626;
    color: white;
}
#main_menu a:hover:not(.active) {
    background: #ddd !important;
    color: black !important;
}
#logo {
    display: block;
    margin: 1em auto;
}

.page:not(.active) { display: none !important; }

#pricing_menu {
    margin: 0 1em 1em 1em;
    text-align: center;
}
#pricing_menu h1 {
    margin: 0.5em 3px 0 3px;
    font-size: 1.2em;
}
#pricing_table {
    width: 100%;
    border-collapse: collapse;
}
#pricing_table th, #pricing_table td {
    border: 1px solid #a4a4a4;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 68px;
}
#pricing_table th {
    background: white;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}
#pricing_table thead td {
    text-align: center;
    font-weight: bold;
}
#pricing_table tbody td {
    background: #969696;
    text-align: right;
}
#pricing_table td.desc, #pricing_table tr.desc td { background: #ffc634; }
#pricing_table td.conditions, #pricing_table tr.conditions td {
    background: #b70202;
    color: white;
}
#pricing_table td.price, #pricing_table tr.price td { background: #68dc33; }
#pricing_table td.exb, #pricing_table tr.exb td { background: #ff8900; }
#pricing_table td.exh, #pricing_table tr.exh td {
    background: #6b1b6a;
    color: #b4cdff;
}
#pricing_table td.age, #pricing_table tr.age td { background: #99ffff; }

@media screen and (min-width: 801px) {
    a.deploy { display: none; }

    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
        width: 200px;
    }
    #side_menu a { padding: 0.5em; }
    #side_menu a:not(.category) { padding-left: 2em; }

    main {
        max-width: 800px;
        margin-left: 200px;
        padding: 1em;
    }

    #pricing_table tr:hover th {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    #pricing_table tr:hover td {
        filter: invert(10%);
        -webkit-filter: invert(10%);
    }
    #pricing_table tr:first-child th:first-child { width: 90px; }
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
        margin: 0;
    }

    a.deploy {
        display: block;
        float: left;
        width: 42px;
        height: 40px;
        margin: 0;
        padding: 0;
        background-color: #262626;
        background-image: url("data:image/gif;base64,R0lGODlhFgAWAIABAP///wAAACH5BAEKAAEALAAAAAAWABYAAAIfhI+py+0PXZi02ouz3rz7b0XiSJYRiKbqyobmC8dNAQA7");
        background-repeat: no-repeat;
        background-position: center;
    }

    #logo { display: none; }
    #side_bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 40px;
        background: #262626;
        z-index: 10;
    }
    #side_menu a {
        height: 40px;
        padding: 10px 10px 10px 52px;
        color: white;
        font-size: 16px;
    }
    #side_menu a:not(.active) { font-style: italic; }
    #side_menu:not(.active) a:not(.active) { display: none; }
    main { padding-top: 40px; }

    #pricing_menu {
        position: fixed;
        left: 0;
        top: 40px;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin: 0;
        background: #eeeeee;
    }
    #pricing a.deploy {
        position: fixed;
        top: 0;
        left: calc(100% - 42px);
        z-index: 20;
    }
    #pricing_menu:not(.active) { display: none; }
    #pricing_menu input, #pricing_menu select { float: right; }
    #pricing_menu label {
        display: block;
        height: 30px;
        text-align: left;
    }

    #pricing_table tr:first-child th:first-child { width: 80px; }
    #pricing_table tr *:first-child { border-left: 0; }
    #pricing_table tr *:last-child { border-right: 0; }
}
