/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

.pic_cropper {
    margin: 0 auto 0.5em auto;
    position: relative;
    border: 1px solid #ededf0;
    overflow: hidden;
    cursor: grab;
}
.pic_cropper.default { cursor: inherit !important; }

.pic_legend {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    filter: opacity(0.75);
}
