[Desktop Entry]
Name=TyCommander
Comment=GUI tool to manage Teensy devices
TryExec=tycommander
Icon=tycommander
Exec=tycommander
Terminal=false
Type=Application
Categories=Development;
