# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

app_mode = production

[server]
protocol = http
http_addr = 127.0.0.1
http_port = {{ grafana_port }}
root_url = {{ grafana_url }}
serve_from_sub_path = true

[paths]
data = {{ grafana_root_path }}/data

[database]
type = sqlite3
path = grafana.db

[security]
admin_user = {{ grafana_default_user }}
admin_password = {{ grafana_default_password }}

# [auth.basic]
# enabled = true
