# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

global:
  scrape_interval: 1m
  evaluation_interval: 1m

scrape_configs:
{% for pkg in prometheus_packages %}
  - job_name: {{ pkg.name }}
    scheme: https
    metrics_path: metrics/{{ pkg.name }}
    tls_config:
      ca_file: /opt/nginx/ssl/internal/ca.crt
      cert_file: /opt/nginx/ssl/internal/{{ inventory_hostname }}.crt
      key_file: /opt/nginx/ssl/internal/{{ inventory_hostname }}.key
    static_configs:
      - targets:
{% for vars in hostvars.values() %}
{% if pkg.name in vars.prometheus_exporters %}
          - {{ vars.prometheus_public_addr }}
{% endif %}
{% endfor %}
{% endfor %}
