/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

.col_wrapper {
    display: flex;
    gap: 1em;
}

.col_sv {
    width: 270px;
    height: 270px;
    cursor: pointer;
    touch-action: none;
}
.col_hue {
    flex: 1;
    height: 270px;
    cursor: pointer;
    touch-action: none;
}
