/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

.pic_dialog {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: start;
    justify-content: center;
}

.pic_preview {
    width: var(--size);
    height: var(--size);
    min-height: var(--size);
    margin: 0.5em auto;
    position: relative;
    overflow: hidden;
}
.pic_preview.interactive { cursor: grab; }

.pic_legend {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    filter: opacity(0.75);
}

.not_preview {
    width: var(--size);
    height: var(--size);
    min-height: var(--size);
    margin: 0.5em;
    position: relative;
    overflow: hidden;
}

.not_colors { max-width: 400px; }

.not_palette {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 6px;

    & button {
        --button_color: white;
        color: black !important;
    }
    & button.active { color: white !important; }

    & div {
        width: 18px;
        height: 18px;
        border: 1px solid #888;
    }
}

.not_categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 6px;

    & button {
        --button_color: white;
        color: black !important;

        &.active { color: white !important; }
    }
}

.not_parts {
    display: flex;
    background: var(--box_color) !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px !important;

    & > svg {
        box-sizing: border-box;
        width: 80px;
        height: 80px;
        cursor: pointer;
        background: white;
        border: 1px solid #eee;

        &.active { background: #eee; }
    }
}
