/* SPDX-License-Identifier: MIT */
/* SPDX-FileCopyrightText: 2026 Niels Martignène <niels.martignene@protonmail.com> */

@import url('../../../lib/web/flat/flat.css');
@import url('../../../vendor/highlight.js/styles/base16/tomorrow.css');

html {
    --top_color: #8a0660;
    --button_color: #8a0660;
    --anchor_color: #8a0660;
}

.benchmark.chart {
    width: 600px;
    max-width: 95%;
    height: 680px;
    margin: 1em auto;
}
