/* SPDX-License-Identifier: MIT */
/* SPDX-FileCopyrightText: 2025 Niels Martignène <niels.martignene@protonmail.com> */

@media print {
    .schema { width: 90%; }

    .columns { display: block; }
    .columns > * { width: auto; }
    .columns > * + * { margin-top: 3em; }
}
